<!DOCTYPE html>
<html ng-app="SmartCare">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title idle-disabled="true">Smart Care</title>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/sticky_footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="content/plugins/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" href="content/plugins/fullcalendar/fullcalendar.print.css" media="print">
    <link href="content/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--Configuration for Android browser colour-->
    <meta name="theme-color" content="#008cba" />
</head>
<body>
    <!--Navigation Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController" data-ng-hide="authentication.hideHeaderandFooter" id="divNavBar" style="display:none;">
        <div class="container" id="divNavBarContainer">
            <div class="navbar-header">
                <button type="button" class="btn btn-success navbar-toggle {{collapsed}}" data-toggle="collapse" data-target="#navbar" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><i class="fa fa-home"></i></a> <!--ng-show="showHomeButton"-->
                <a class="navbar-brand" href="#/sync" ng-show="Syncing && localChangesCount*1>0"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></a>
                <a class="navbar-brand" href="#/sync" ng-show="localChangesCount*1>0">
                    <span class="navbar-brand-name" style="padding-left:20px;">
                        <span ng-show="localChangesCount*1>0"><i class="fa fa-arrow-up" aria-hidden="true"></i> {{localChangesCount}}</span>
                    </span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth" class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Welcome {{authentication.userName}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="scToggle" data-ng-click="lock()"><i class="{{lockIcon}}" aria-hidden="true"></i> {{lockText}}</a></li>
                            <li ng-show="status"><a class="scToggle" href="" data-ng-click="updateBriefCase()"><i class="fa fa-suitcase fa-2"></i> Update Briefcase</a></li>
                            <li><a class="scToggle hideanchor" data-ng-click="redirect('/sync')"><i class="fa fa-refresh"></i> Sync</a></li>
                            <li><a class="scToggle hideanchor" data-ng-click="redirect('/mypreferences')"><i class="fa fa-gear"></i> My Preferences</a></li>
                            <li ng-show="status"><a class="scToggle" data-ng-click="downloadTemplate()"><i class="fa fa-arrow-down fa-2"></i> Generate Template</a></li>
                            <li><a ng-show="ShowClientContent" data-ng-click="redirecttodocuments()"><i class="fa fa-file-text-o fa-2" aria-hidden="true"></i> Documents</a></li>
                            <li><a ng-show="ShowClientContent" data-ng-click="createService()"><i class="fa fa-plus-circle fa-2" aria-hidden="true"></i> Create Service</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--View Section-->
    <div ng-class="{container: authentication.hideHeaderandFooter == false, containerNative: authentication.hideHeaderandFooter == true}" id="mainContainer" data-ng-controller="indexController" >
        <div data-ng-include="'app/views/_toolbar.html'"></div>
        <div data-ng-view="" data-autoscroll="true"></div>
        <div id="processingImage">
            <img src="images/loading.gif" class="ajax-loader" />
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="scModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="scModalLabel">SmartCare</h4>
                </div>
                <div id="scModelContent" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="btnAction" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer class="footer" data-ng-hide="authentication.hideHeaderandFooter" data-ng-controller="indexController" id="divFooter" style="display:none;">
        <div class="container" style="margin-top: 10px;">
            <div class="col-xs-2"><img class="img-logo" src="images/logo_footer.png" alt=""></div>
            <div class="col-xs-9" style="text-align:center">
                <div class="row" ng-hide="sessionExpired">
                    <span class="spanSmallFont">Briefcase Updated: {{brifcaseUpdatedOn | date:"MM/dd/yyyy hh:mm:ss a"}}</span>
                </div>
                <div class="row" ng-show="sessionExpired">
                    <a href="#/refresh"> <span class="label label-danger">Briefcase Updated: {{brifcaseUpdatedOn | date:"MM/dd/yyyy hh:mm:ss a"}}</span></a>
                </div>
            </div>
            <div class="col-xs-1 text-right">
                <div id="fontIcon"></div>
            </div>
        </div>
    </footer>

    <!-- 3rd party libraries -->
    <script src="scripts/indexeddbshim.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/jquery-1.9.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/offline.min.js"></script>
    <script src="scripts/moment.js"></script>
    <script src="content/plugins/fullcalendar/fullcalendar.js"></script>
    <!--<script src="scripts/jquery.ui.touch-punch.min.js"></script>-->
    <script src="scripts/crypto-js/crypto-js.js"></script>
    <script src="scripts/ng-idle/angular-idle.min.js"></script>
    <script src="scripts/bootstrap-datetimepicker.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <!--<script src="scripts/offline-simulate-ui.min.js"></script>-->
    <script src="scripts/angular-ui/angular-ui-notification.js"></script>
    <!--<script src="scripts/respond.js"></script>-->
    <script src="scripts/stacktrace-0.6.4.js"></script>
    <script src="scripts/signature_pad.min.js"></script>
    <script src="scripts/signature.js"></script>

    <!--Load app Main script-->
    <script src="app/app.js"></script>
    <!--This is for adding JS functions which can be triggered from Native App or an outside app-->
    <script src="app/nativeapp.js"></script>

    <!-- Load services -->
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/briefcaseService.js"></script>
    <script src="app/services/dashboardService.js"></script>
    <script src="app/services/localDBService.js"></script>
    <script src="app/services/tokensManagerService.js"></script>
    <script src="app/services/persistenceStrategies.js"></script>
    <script src="app/services/persistenceService.js"></script>
    <script src="app/services/commonService.js"></script>
    <script src="app/services/commonServiceDB.js"></script>
    <script src="app/services/syncService.js"></script>
    <script src="app/services/stacktraceService.js"></script>
    <script src="app/services/caseloadService.js"></script>

    <!-- Load controllers -->
    <script src="app/controllers/dashboardController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/dashboardController.js"></script>
    <script src="app/controllers/caseloadController.js"></script>
    <script src="app/controllers/caseloaddetailController.js"></script>
    <script src="app/controllers/createserviceController.js"></script>
    <script src="app/controllers/myCalendarController.js"></script>
    <script src="app/controllers/teamCalendarController.js"></script>
    <script src="app/controllers/myPreferencesController.js"></script>
    <!--<script src="app/controllers/toolbarController.js"></script>-->
    <script src="app/controllers/syncController.js"></script>
    <script src="app/controllers/refreshController.js"></script>
    <script src="app/controllers/toolbarController.js"></script>
    <script src="app/controllers/documentsController.js"></script>
    <script src="app/controllers/documentController.js"></script>
    <!--Custom Note-->
    <script src="app/controllers/custom/customNoteController.js"></script>
    <!--Custom Services-->
    <script src="app/controllers/custom/customServicesController.js"></script>
</body>
</html>
