--Delete from CustomDailyLivingActivities
 --Where DailyLivingActivityId in (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
GO
/****** Object:  Table [dbo].[CustomDailyLivingActivities]    Script Date: 08/13/2013 14:06:57 ******/
if not exists(select * from CustomDailyLivingActivities Where DailyLivingActivityId in (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20))
begin
SET IDENTITY_INSERT [dbo].[CustomDailyLivingActivities] ON
SET IDENTITY_INSERT [dbo].[CustomDailyLivingActivities] OFF
end

