/****** Object:  UserDefinedFunction [dbo].[GetInsurerName]    Script Date: 06/19/2013 18:03:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetInsurerName]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[GetInsurerName]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetInsurerName]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'










/*********************************************************************/              
/*Function: dbo.ssp_GetInsurerName           */              
/* Copyright: 2005 Provider Claim Management System             */              
/* Creation Date:  11/19/2005                                    */              
/*                                                                   */              
/* Purpose: it will get Insurer Name            */             
/*                                                                   */            
/* Output Parameters:        InsurerName                        */              
/*                                                                   */              
/* Called By:                                                        */              
/*                                                                   */              
/* Calls:                                                            */              
/*                                                                   */              
/* Data Modifications:                                               */              
/*                                                                   */              
/* Updates:                                                          */              
/*  Date        	 Author      Purpose                                    */              
/* 11/19/2005   Tarunjeet Singh      Created                                    */              
CREATE FUNCTION [dbo].[GetInsurerName](@InsurerId int)  
RETURNS varchar(15) AS  
BEGIN 
Declare @InsurerName as varchar(100)
set @InsurerName=(SELECT InsurerName FROM Insurers WHERE (InsurerId = @InsurerId)) 
return @InsurerName

END

































































' 
END
GO
