<div ng-controller="tollbarController" class="smartcaretoolbar">
    <!--<span data-ng-hide="!authentication.isAuth" class="glyphicon glyphicon-plus-sign newButton" data-ng-controller="indexController" data-ng-click="save($scope)"></span>-->
    <span id="btnClose" data-ng-hide="hideClose" class="glyphicon glyphicon-remove toolbarIcon closeButton" data-ng-controller="indexController" data-ng-click="back()"></span>
    <!--<span id="btnSave" data-ng-hide="!authentication.isAuth" class="glyphicon glyphicon-floppy-save toolbarIcon saveButton" data-ng-controller="indexController" data-ng-click="save()"></span>-->
</div>