<h3 style="color:red;"><u>{{title}}</u></h3>


<div class="panel">
    <div class="panel-body">
        <!--<table class="table">
            <tbody>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input type="text" datatype="date" ng-model="employee.mobileemployee.name" id="serviceStartDate" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Salary
                    </td>
                   <td>
                       <input type="text" datatype="date" ng-model="employee.mobileemployeesalary.salary" id="serviceStartDate" />
                   </td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        <button id="btnSave" model="savebutton" name="save" class="btn btn-sm btn-success" ng-click="save()">Save</button>
                    </td>
                </tr>
            </tbody>
        </table>-->
        <!--<input type="button" class="btn btn-primary" value="Add Employee Table" ng-click="AddEmployee()"/>
        <input type="button" class="btn btn-primary" value="Add Salary Table" ng-click="AddSalary()" />-->

        <!--<input type="text" ng-model="databasename" />--><input type="button" class="btn btn-success" value="Create Widgets table" ng-click="remove()"/>
    </div>
</div>

