<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ApplicationConfiguration" type="Zetafax.SystemFramework.ApplicationConfiguration, Zetafax.SystemFramework"/>
    <section name="ZetafaxConfiguration" type="Zetafax.Common.ZetafaxConfiguration, Zetafax.Common"/>
  </configSections>
  <appSettings>
    <!-- Key added by Loveena with ref task #2570 1.9.5.6: Add Soundex Search Opton to My Preferences   -->
    <add key="UseSoundexMedicationSearch" value="N"/>
    <!-- Summit -->
    <!--<add key="SCConnectionString" value="Data Source=clsldb1.ventechcenter.org\sldb1;Initial Catalog=SummitStreamline;uid=sa;pwd=sl@ve123;" />-->
    <!--<add key="SCConnectionString" value="Data Source=clsldb3.ventechcenter.org\sldb3;Initial Catalog=SummitStreamline3.5;uid=sa;pwd=sl@ve123;" />-->
    <!-- DEV -->
    <!-- <add key="SCConnectionString" value="Data Source=10.100.104.3;Initial Catalog=MontcalmSetupSmartcare;uid=streamline-dbo;pwd=@streamLine1!;" /> -->
    <!--<add key="SCConnectionString" value="Data Source=devsrv01.smartcarenet.com;Initial Catalog=SummitStreamlinePrimaryCare;uid=sdiqa;pwd=P@ssword123;"/>-->
    <!-- Interact -->
    <!--<add key="SCConnectionString" value="Data Source=ia-sql1.interact.local;Initial Catalog=ProdSmartcare;uid=streamline-dbo;pwd=M@ster123;" />-->
    <!--<add key="SCConnectionString" value="Data Source=ia-sql1.interact.local;Initial Catalog=TestSmartcare;uid=streamline-dbo;pwd=M@ster123;" />-->
    <!-- Thresholds -->
    <!--<add key="SCConnectionString" value="Data Source=10.24.0.218;Initial Catalog=ThresholdsStreamlineTest;uid=streamlineapps;pwd=85jr723h489d;" />-->
    <!-- St. Joe -->
    <!--<add key="SCConnectionString" value="Data Source=cmhdb02.stjoecmh.org;Initial Catalog=STJSmartcare3.5Test;uid=sa;pwd=sl@ve123;" />-->
    <!-- CWN -->
    <!--<add key="SCConnectionString" value="Data Source=10.1.2.13;Initial Catalog=TestSmartcare;uid=streamline-dbo;pwd=Apr1l-2012;" />-->
    <!--<add key="SCConnectionString" value="Data Source=devsrv01.smartcarenet.com;Initial Catalog=SummitStreamlinePrimaryCareDev;uid=shstest;pwd=P@ssword123;" />-->
    <!--<add key="SCConnectionString" value="Data Source=dev.smartcarenet.com;Initial Catalog=SummitPointe35xSC_SHSINQA;uid=sdiqa;pwd=P@ssword123;"/>-->
    <!--<add key="SCConnectionString" value="Data Source=dev.smartcarenet.com;Initial Catalog=CNSStreamline;uid=shstest;pwd=P@ssword123;" />-->
    <!--<add key="SCConnectionString" value="Data Source=dev.smartcarenet.com;Initial Catalog=Harbor_3_QA;uid=shstest;pwd=P@ssword123;" />-->
    <!--<add key="SCConnectionString" value="Data Source=dev.smartcarenet.com;Initial Catalog=Kalamazoo_3_QA;uid=shstest;pwd=P@ssword123;" />-->
    <!--<add key="SCConnectionString" value="Data Source=dev.smartcarenet.com;Initial Catalog=Cert35x;uid=shstest;pwd=P@ssword123;" />-->
    <!--<add key="SCConnectionString" value="Data Source=dev.smartcarenet.com;Initial Catalog=demostreamlinetest;uid=shstest;pwd=P@ssword123;" />-->
    <add key="SCConnectionString" value="Data Source=FARMDB11\BRADFORD;Initial Catalog=BradfordSmartcareTest;persist security info=True;Integrated Security=SSPI;"/>
    <!--<add key="SCConnectionString" value="Data Source=sql08r202.kcmhsas.local;Initial Catalog=ProdSmartcare;uid=streamline-dbo;pwd=Apr1l-2012;" />-->
    <!--<add key="SCConnectionString" value="Data Source=sql08r202.kcmhsas.local;Initial Catalog=TrainSmartCare;uid=streamline-dbo;pwd=Apr1l-2012;" />-->
    <!--<add key="SCConnectionString" value="Data Source=dev.smartcarenet.com;Initial Catalog=ThresholdsStreamlineScrubbedMerged;uid=shstest;pwd=P@ssword123;" />-->
    <!--<add key="SCConnectionString" value="Data Source=ia-sql1;Initial Catalog=TrainSmartcare;uid=streamline-dbo;pwd=M@ster123;"/>-->
    <!--<add key="SCConnectionString" value="Data Source=dev.smartcarenet.com;Initial Catalog=SummitStreamline3.5x;uid=shstest;pwd=P@ssword123;"/>-->
    <!--<add key="SCConnectionString" value="Data Source=10.24.0.28;Initial Catalog=ThresholdsStreamlineTraining;uid=streamlineapps;pwd=9d14d31160;" />-->
    <!--<add key="SCConnectionString" value="Data Source=dev.smartcarenet.com;Initial Catalog=ARRA_3;uid=shstest;pwd=P@ssword123;" />-->
    <!--<add key="SCConnectionString" value="Data Source=clsldb1.ventechcenter.org,55448;Initial Catalog=SummitStreamlineBeta;uid=sa;pwd=sl@ve123;"/>-->
    <!--<add key="SCConnectionString" value="Data Source=10.24.0.196;Initial Catalog=ThresholdsStreamlineTest;uid=jriley;pwd=abc1234;" />-->
    <!--<add key="SCConnectionString" value="Data Source=ia-sql1;Initial Catalog=ProdSmartcare;uid=streamline-dbo;pwd=M@ster123;"/>-->
    <add key="FaxServer" value="faxcom"/>
    <add key="FaxServer" value="RightFax"/>
    <add key="rightfaxuser" value="SCTEST"/>
    <add key="rightfaxpasswd" value="$cT3sT"/>
    <add key="rightfaxAPIURL" value="http://thr-350-opentxt-01.thresholds.org/RightFax/API/"/>
    <add key="FaxNumber" value="773-537-3757"/>
    <add key="ZetaFaxSystemDirectory" value="\\Streamline\ZFAX\System"/>
    <add key="ZetaFaxServerDirectory" value="\\Streamline\ZFAX\SERVER"/>
    <add key="ZetaFaxRequestDirectory" value="\\Streamline\ZFAX\REQUEST"/>
    <add key="ZetaFaxUsersDirectory" value="\\Streamline\ZFAX\USERS"/>
    <add key="ZetaFaxUserName" value="soniad"/>
    <add key="FaxcomUser" value="Administrator"/>
    <add key="FaxcomPasswd" value=""/>
    <add key="FaxcomQueuePath" value="\\THR-FAX-SVR-01\FaxcomQ_Queue01"/>
    <add key="TempPath" value="c:\temp"/>
    <!--Added key as per task2.8.3 Start over here-->
    <add key="OrderPageNoteLabel" value="Instruction Text"/>
    <add key="OrderPageCommentLabel" value="Comment"/>
    <add key="OrderPageCommentLabelIncludeOnPrescription" value="Note to Pharmacy"/>
    <!--Added key as per task2.8.3 End over here-->
    <add key="ScriptFoldersToBeDeleted" value="false"/>
    <add key="MedicationPerscriptionReportUrl" value="\RDLC"/>
    <add key="PrintChartCopyWithFax" value="true"/>
    <add key="ErrorMessageForeColor" value="Red"/>
    <add key="ErrorMessageBackColor" value="White"/>
    <!-- Keys added by Chandan with ref task #2416 (Harbor) -->
    <add key="ExternalInterface" value="false"/>
    <add key="ExternalWebServiceUrl" value="http://192.168.23.102/MedicationManagementTestExternal/"/>
    <!-- Keys added by Loveena with ref task #85 JH72 -->
    <add key="RegisterSureScriptsPrescriberUrl" value="https://scriptstaging.streamlinehealthcare.com/rx/Prescriber/SendPrescriber"/>
    <!--<add key="RegisterSureScriptsPrescriberUrl" value="https://ec2-rxhub01.smartcarenet.com/surescriptsproduction/rx/Prescriber/SendPrescriber"/>-->
    <add key="WebDocumentsApplicationURL" value="http://localhost/SmartCareWeb/"/>
    <add key="OpenFromSmartCare" value="false"/>
    <add key="CustomDocumentsReportURL" value=""/>
    <add key="ReportFolderUrl" value=""/>
    <!--  Task#2660-->
    <add key="SaveJpegOutput" value="true"/>
    <add key="DXEnableThemesAssembly" value="true"/>
    <add key="DXEnableCallbackCompression" value="true"/>
    <add key="DXEnableResourceCompression" value="true"/>
    <add key="DXEnableResourceMerging" value="true"/>
    <add key="DXEnableHtmlCompression" value="true"/>
    <!-- Key added with ref task #2972 -->
    <add key="AllowPrintFaxFromOrderDetails" value="true"/>
    <add key="com.streamlinehealthcare.scriptstaging.SureScriptHandler" value="http://scriptstaging.streamlinehealthcare.com/SureScriptHandler.asmx"/>
    <add key="connectionStringDrugFormulary" value="user id=formulary;pwd=P@ssword123;server=dev.smartcarenet.com;database=ARRADemoFormulary"/>
    <add key="connectionInfoFormulary" value="user id=formulary;pwd=P@ssword123;server=dev.smartcarenet.com;database=ARRADemoFormulary"/>
    <add key="ErrorLogKey" value="D:/Errorlog"/>
    <add key="participantID" value="T00000000021275"/>
    <add key="password" value="M54J3G0JHX"/>
    <add key="PBMID" value="RXHUB"/>
    <add key="PBMName" value="SURESCRIPTS LLC"/>
    <!--RXHUB-->
    <add key="TestIndicator" value="T"/>
    <add key="MessageVersionNo" value="005010X279"/>
    <!--005010X279-->
    <add key="MessageReleaseNo" value="001"/>
    <add key="MedHistoryTestIndicator" value="1"/>
    <add key="MedHistoryVersionNo" value="008"/>
    <add key="ReportServerDomain" value="interact"/>
    <add key="ReportServerUserName" value="streamline"/>
    <add key="ReportServerPassword" value="asdfJKL:"/>
    <add key="ReportFolderName" value="ProdSCDocuments"/>
    <add key="ReportURL" value="http://ia-sql1/ReportServer"/>
    <add key="EnableRXOrderTemplates" value="false"/>
    <add key="ShowDosagesInDrugList" value="true"/>
    <add key="DxPurposeIsNotMandatory" value="true"/>
    <add key="CapControlledSubstances" value="true"/>
    <add key="CapNonControlledSubstances" value="true"/>
    <add key="ShowNoMedicationsCheckbox" value="true"/>
    <add key="RxSourceRequired" value="false"/>
    <add key="SHSADAuthentication.SHSADAuthentication" value="http://localhost/ADAuth/SHSADAuthentication.asmx"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <identity impersonate="true"/>
    <sessionState mode="InProc" cookieless="false" timeout="120"/>
    <pages theme="Themes" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
      </tagMapping>
    </pages>
    <customErrors mode="Off">
      <!--<error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>-->
    </customErrors>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" protection="All" timeout="120"/>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Utilities, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="DevExpress.Web.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Data.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxEditors.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <!--<add assembly="DevExpress.Web.ASPxTreeList.v9.3, Version=9.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />-->
        <add assembly="DevExpress.Web.ASPxThemes.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxGridView.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxEditors.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.Formatting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2009.1.402.20, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <jsonSerialization maxJsonLength="10000000">
          <converters>
            <add name="DataSetConverter" type="Microsoft.Web.Preview.Script.Serialization.Converters.DataSetConverter, Microsoft.Web.Preview"/>
            <add name="DataRowConverter" type="Microsoft.Web.Preview.Script.Serialization.Converters.DataRowConverter, Microsoft.Web.Preview"/>
            <add name="DataTableConverter" type="Microsoft.Web.Preview.Script.Serialization.Converters.DataTableConverter, Microsoft.Web.Preview"/>
            <!-- <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/> -->
          </converters>
        </jsonSerialization>
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <scriptResourceHandler enableCompression="true" enableCaching="true"/>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
      <!--<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.3, Version=9.3.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>-->
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
      <add name="ChartImage.axd_" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2009.1.402.20, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
    </handlers>
  </system.webServer>
  <ApplicationConfiguration>
    <!-- Trace file settings -->
    <add key="SystemFramework.Tracing.Enabled" value="true"/>
    <!-- Set this to the file with the trace settings. 
     This file will be placed in the system temporary directory. -->
    <add key="SystemFramework.Tracing.TraceFile" value="ZetafaxTrace.log"/>
    <!-- The TraceLevel for this switch.  -->
    <add key="SystemFramework.Tracing.TraceLevel" value="4"/>
    <!-- This switch name. The trace level for this name can be set through
         environment variables or the registry  -->
    <add key="SystemFramework.Tracing.SwitchName" value="ZetafaxTraceSwitch"/>
    <!-- This description of the Tracing.SwitchName switch -->
    <add key="SystemFramework.Tracing.SwitchDescription" value="Error and information tracing for Zetafax"/>
    <!-- Event log settings
         Note: The default Zetafax event source name is created in the local machine during setup. If you wish to log events to a different event source
               that event source must exist.
        -->
    <add key="SystemFramework.EventLog.Enabled" value="True"/>
    <add key="SystemFramework.EventLog.Machine" value="."/>
    <add key="SystemFramework.EventLog.SourceName" value="Zetafax"/>
    <!-- Use the standard TraceLevel values:
             0 = Off
             1 = Error
             2 = Warning
             3 = Info
             4 = Verbose -->
    <add key="SystemFramework.EventLog.LogLevel" value="4"/>
  </ApplicationConfiguration>
  <!-- 
    WARNING! 
    This is the debug/development version of this file.
    The shipping version is found in shipping/web.config
    
    Please try and keep the two in synch - but remember that
    there should be no debug information/private settings in the release configuration. 
  -->
  <ZetafaxConfiguration>
    <!-- Settings specific to the Zetafax application -->
    <add key="Zetafax.Web.EnablePageCache" value="True"/>
    <!-- how long the API / or user session sits in the cache before expiring -->
    <add key="Zetafax.Web.APICacheExpiresInMins" value="15"/>
    <!-- force the displayed language, two letter code of one of the web client's sub-directories -->
    <add key="Zetafax.Web.ForceLanguage" value=""/>
    <!-- default language used if not specified by browser, two letter code of one of the web client's sub-directories -->
    <add key="Zetafax.Web.DefaultLanguage" value="en"/>
    <!-- items per page for inbox/outbox -->
    <add key="Zetafax.Web.ItemsPerPage" value="15"/>
    <!-- MIME type can be either image/tiff or image/g3fax -->
    <add key="Zetafax.Web.FaxMIMEType" value="image/tiff"/>
    <!-- Are faxes viewed in a new window? -->
    <add key="Zetafax.Web.ViewInNewWindow" value="True"/>
    <!-- Using impersonation in the API? Will not work if ZFAX server not local -->
    <add key="Zetafax.Web.APIImpersonation" value="False"/>
    <!-- Exchange server that contains the Address book to be used in lookups -->
    <add key="Zetafax.Web.MSXServer" value=""/>
    <!-- location of root folder of Zetafax installation. Remove this line to use Zetafax.ini -->
    <add key="Zetafax.Web.Zetafax" value="\\streamline\\ZFAX"/>
    <!-- location of individual folders of Zetafax installation, used if you installed your folders are in different locations -->
    <!--
  <add key="Zetafax.Web.ZetafaxServer" value="C:\Program Files\Zetafax\Server" />
  <add key="Zetafax.Web.ZetafaxSystem" value="C:\Program Files\Zetafax\System" />
  <add key="Zetafax.Web.ZetafaxUsers" value="C:\Program Files\Zetafax\Users" />
  <add key="Zetafax.Web.ZetafaxRequest" value="C:\Program Files\Zetafax\Request" />
-->
  </ZetafaxConfiguration>
</configuration>