--Delete from CustomHRMActivities
 --Where HRMActivityId in (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
GO
/****** Object:  Table [dbo].[CustomHRMActivities]    Script Date: 08/13/2013 14:06:57 ******/
if not exists(select * from CustomHRMActivities Where HRMActivityId in (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20))
begin
SET IDENTITY_INSERT [dbo].[CustomHRMActivities] ON
SET IDENTITY_INSERT [dbo].[CustomHRMActivities] OFF
end

else
begin

update [CustomHRMActivities] set HRMActivityDescription ='Health Practices: Independently takes care of health issues, manages moods, infections; takes medication as prescribed; follows up on medical appointments.', Example = N'1 – Dependent, no self-care, potentially health endangering, requires pervasive interventions (example: multiple and lengthy stays in crisis, jail, etc.' +'crlf' +'2 – Marked limitations in self-care and compliance, relies on extensive assistance for very severe mental impairments, concern for danger to self/other.' + 'crlf' +'3 – Limited self-care and compliance, severe impairments in moods, mental status; often relies on the continuous assistance of helping persons for health care.' + 'crlf' +'4 – Marginal self-care and compliance with service plans or prescriptions, managing moods is moderate problem; requires low level but routine mental health assistance' + 'crlf' +'5 – Moderately self-sufficient, manages moods but relies on intermittent, some routine assistance or home visits by helping persons, in private or self help residences. ' + 'crlf' +'6 – Independent self-care, compliant with treatment, meds – minimal support, some assistance from family friends, other helping persons).' + 'crlf' +'7 – Optimally independent in taking care of physical & mental status; makes good health care decisions, no assistance needed.' where HRMActivityId = 1
update [CustomHRMActivities] set HRMActivityDescription ='Housing  Stability, Maintenance: Maintains stable housing; organizes possessions, cleans, abides by rules and contributes to living with others.',Example = N'1 – Not self-sufficient, approaching health endangering threat, relies on pervasive supervision in protective environment, dependent – does not manage independent household. ' + 'crlf' +'2 – Marked limitations in keeping or maintaining independent housing, on the street or constant supervision and assistance, likely in 24/7supported or protective residences.' + 'crlf' +'3 – Dysfunctional in independent housing, unstable, Limited self-sufficiency; relies on frequent assistance, private or self-help home, may occasionally help in household maintenance.' + 'crlf' +'4 – Stable community housing but housing may be inadequate or s/he may be only marginal self-sufficient, e.g., relies on regular assistance to maintain stable household.' + 'crlf' +'5 – Moderate self-sufficiency in own place with routine, low level assistance, (e.g home visit by helping persons), maintains household good bit of the time bye self.' + 'crlf' +'6- Adequate independence: self-sufficient with minimal assistance in community based  independent housing (e.g some support from family, friend, other helping persons).' + 'crlf' +'7-  Optimal independence: Self-sufficient in community based, independent living with no significant assistance.' where HRMActivityId = 2
update [CustomHRMActivities] set HRMActivityDescription ='Communication: Listens to people, expresses opinions/feelings; makes wishes known effectively.',Example =  N'1 - Not effective in communicating with others, extremely dependent on assistance.' + 'crlf' +'2 - Communication in dysfunctional, blunted or antagonistic with others, dependent on assistance.' + 'crlf' +'3 - Limited effectiveness in communicating with others, dependent on assistance.' + 'crlf' +'4 -  Not clear about problems, marginal effectiveness in communicating with others, uses regular assistance.' + 'crlf' +'5 – Moderately effective in communicating with others, using routine assistance.' + 'crlf' +'6 – Adequately effective in communicating with others, minimal needs for assistance.' + 'crlf' +'7 -  Optimal effectiveness in communicating with others, no significant assistance needed.' where HRMActivityId = 3
update [CustomHRMActivities] set HRMActivityDescription ='Safety: Safely moves about community – adequate vision, hearing, makes safe decisions in Neighborhood, with small appliances, ovens/burners, matches, knives/razors, other tools.',Example =N'1 – No self-protection approaching health endangering threat, relies on pervasive level of continuous supervision.' + 'crlf' +'2 – Marked limitations in self-protection relies on extensive level of continuous supervision.' + 'crlf' +'3 – Limited self-protection relies on moderate level of continuous supervision.' + 'crlf' +'4 – Marginal  self-protection, relies on regular assistance and monitoring.' + 'crlf' +'5 -  Moderate  self-protection, relies on routine assistance or monitoring (e.g. home visits by helping persons).' + 'crlf' +'6 – Adequate  self-protection  with minimal assistance, family, neighbors, friends, other support.' + 'crlf' +'7 – Optimal  self-protection  with no significant assistance from other.' where HRMActivityId = 4
update [CustomHRMActivities] set HRMActivityDescription ='Managing Time: Follow regular schedule for bedtime, wake-up, meal times, rarely tardy or absent for work, day programs, appointments, scheduled activities.',Example = N'1 – No management of time, relies on the pervasive, continuous direction of others.' + 'crlf' +'2 – Marked limitations management of time, often relies on extensive, continuous direction of others.' + 'crlf' +'3 – Limited time management, often relies on constant direction of others.' + 'crlf' +'4 – Marginally effective time management, relies on regular direction of others. ' + 'crlf' +'5 – Moderately effective time management, relies on routine direction of others. ' + 'crlf' +'6 – Adequate time management, minimal reliance on direction of others. ' + 'crlf' +'7 – Optimal time management and self-direction.' where HRMActivityId = 5
update [CustomHRMActivities] set HRMActivityDescription ='Managing Money: Listens to people, expresses opinions/feelings; makes wishes known effectively.',Example =  N'1 – Does not manage personal finances, no participation in managing money. ' + 'crlf' +'2 -  Marked limitations in independent management of personal finances; often involving constant supervision of others, very limited participation in  managing money. ' + 'crlf' +'3 – Limited independence in managing personal finances; uses continuous assistance from others, limited participation in managing money. ' + 'crlf' +'4 – Marginally independent in managing personal finance; often uses assistance from others, some participation in managing money. ' + 'crlf' +'5 – Moderately independent in managing personal finance with intermittent assistance from others, significant participation in managing money. ' + 'crlf' +'6 -  Adequate independent in managing personal finance with minimal assistance of others. ' + 'crlf' +'7 – Optimal independence in managing personal finance.' where HRMActivityId = 6
update [CustomHRMActivities] set HRMActivityDescription ='Nutrition: Eats at least 2 basically nutritious meals daily.',Example =N'1 – Does not manage nutritional needs, total dependence on others, no participation in meal planning, shopping, and preparation.' + 'crlf' +'2 – Very sever limitations, substantial dependence on continuous assistance, often involving constant supervision, very limited participation in meal planning, shopping, and preparation.' + 'crlf' +'3 - Sever limitations, significant dependence on continuous assistance from others; limited participation in meal planning, shopping, and preparation.' + 'crlf' +'4 -  Marginally independent in managing nutritional needs; often uses assistance from others, some participation in meal planning, shopping, and preparation.' + 'crlf' +'5 - Moderately independent in managing nutritional needs with intermittent assistance from others, significant participation in meal planning, shopping, and preparation.' + 'crlf' +'6 -  Adequately independent in managing nutritional needs with minimal assistance from others  in meal planning, shopping, and preparation.' + 'crlf' +'7 -  Optimal independence in managing nutritional needs, with no significant assistance from others needed for meal planning, shopping, and preparation.' where HRMActivityId = 7
update [CustomHRMActivities] set HRMActivityDescription ='Problem Solving: Resolves presenting problems and basic problems of daily living; asks questions for clarity and setting expectations.',Example =N'1 -  No problem solving, pervasive dependence on others to handle daily living problems approaching health endangering threat, no participation in problem solving.' + 'crlf' +'2 – Very severe limitations in  problem solving, often involving constant supervision, minimal participation in problem solving.' + 'crlf' +'3 -  Severe limitations in  problem solving, often relying on substantive assistance, limited participation in problem solving.' + 'crlf' +'4 – Marginally self-sufficient in problem solving, often uses regular assistance, minimal participation in problem solving.' + 'crlf' +'5 – Moderately self-sufficient in  problem solving with routine assistance from others, moderate participation in problem solving.' + 'crlf' +'6 -  Adequate self-sufficiency in problem solving with minimal assistance from others.' + 'crlf' +'7 – Optimal self-sufficiency in problem solving with no significant assistance from others.' where HRMActivityId = 8
update [CustomHRMActivities] set HRMActivityDescription ='Family Relationships: Gets along with family, positive relationships as parent, sibling, child, significant other, family member.',Example =N'1 – Extremely dysfunctional relationships or deviant behaviors with others ( i.e. often imminent physical aggression or severely abusive, withdrawn, often rejected by others).' + 'crlf' +'2 – Very dysfunctional relationship within family (e.g. excessive dependency or destructive communication or behaviors).' + 'crlf' +'3 – Dysfunctional relationship within family, often no significant or positive participation/communication with family/significant others.' + 'crlf' +'4 – Marginally functional relationship within family, with significant others (i.e. relationship are often stressed or infrequent, superficial, unreliable).' + 'crlf' +'5 – Moderately effective continuing and close relationship with at least one family member/significant others.' + 'crlf' +'6 – Adequate personal relationship with one or more significant other.' + 'crlf' +'7 – Positive relationship with family/significant other; assertively contributes to these relationship.' where HRMActivityId = 9
update [CustomHRMActivities] set HRMActivityDescription ='Alcohol/Drug Use: Avoids abuse or abstains from alcohol/drugs, cigarettes; understands signs and symptoms of abuse or dependency; avoids misuse or combining alcohol, drugs, medication.',Example =N'1 – Current abuse or dependence diagnosed, accepts or denies pervasive substance abuse, currently evidence no self-control or safe use, imminent health and safety threats.' + 'crlf' +'2 -  Current abuse or dependence, may deny substance abuse problem, does not participate in treatment; extremely limited self-control for abstinence or safe use.' + 'crlf' +'3 - Current abuse or dependence, acknowledges substance abuse problem but shows limited self-control struggles to maintain treatment plan related to substance use.' + 'crlf' +'4 – Current problem with use, abuse or dependence, agrees to substance abuse problem, treatment currently evidences marginal success with self-control.' + 'crlf' +'5 – No current use but recent history of abuse/dependence, adequately aware of risks and seeking information, support, treatment to continuously sustain success.' + 'crlf' +'6 – History of substance abuse-related issue, currently maintains abstinence or safe use with minimal supportive assistance (self help groups).' + 'crlf' +'7 – No history of substance abuse related problems and Optimal self-control with substances; currently abstinent or practices safe use, no issues.' where HRMActivityId = 10
update [CustomHRMActivities] set HRMActivityDescription ='Leisure: Relaxes with a variety of activities; attends/participates in sports or performing arts events; reads newspapers, magazines, books; recreational games with others; involved arts/crafts; goes to movies.',Example =N'1 – Dependent – No independent participation in leisure activities.' + 'crlf' +'2 - Dependent – min. participation in leisure of any kind without help.' + 'crlf' +'3 – Limited interest or independent participation in leisure activities.' + 'crlf' +'4 – Marginally independent leisure activity participation.' + 'crlf' +'5 – Moderately independent leisure activity participation.' + 'crlf' +'6 – Adequately independent in at least one leisure activity.' + 'crlf' +'7 – Optimal interest independence with 2 or more leisure activities.' where HRMActivityId = 11
update [CustomHRMActivities] set HRMActivityDescription ='Community Resources: Uses other community services, self-help groups, telephone, public transportation, religious organizations, shopping.',Example =N'1 – No independent use of community resources; extreme reliance on helpers to gain access or adamantly refuses necessary help.' + 'crlf' +'2 – Minimal independence on use of community resources, very reliant on helpers to gain access.' + 'crlf' +'3 – Limited independence in use of community resources, reliant on helpers to gain access.' + 'crlf' +'4 – Marginally independence in use of community resources, occasionally reliance on helpers to gain access.' + 'crlf' +'5 – Moderately independence in use of community resources, intermittent reliance on help in gaining access.' + 'crlf' +'6 – Adequate independence use of community resources, minimal need for help in gaining access.' + 'crlf' +'7 – Optimal independence use of community resources, no significant need for help in gaining access.' where HRMActivityId = 12
update [CustomHRMActivities] set HRMActivityDescription ='Social Network: Gets along with friends, neighbors, coworkers, other peers.',Example=N'1- Extremely dysfunctional in relationship (i.e. often imminent physical aggression in abusive or severe withdrawal, often rejected).' + 'crlf' +'2 – Marked  limitations in social network relationship (e.g. excessive dependency or destructive behaviors).' + 'crlf' +'3 – Limited interpersonally, often no significant friendships.' + 'crlf' +'4 – Marginal functioning with others (i.e. friendships are often minimal, unreliable).' + 'crlf' +'5 – Moderately effective continuing and close relationship with at least one friend.' + 'crlf' +'6 – Adequate interpersonal relationship with one or more friends.' + 'crlf' +'7 – Positive relationship with one or more friends; optimally independent and assertively contributes to relationships.' where HRMActivityId = 13
update [CustomHRMActivities] set HRMActivityDescription ='Sexuality: Sexually appropriate behavior toward others; comfortable with gender, respects privacy and rights of others, practices safe sex or abstains.',Example=N'1 – Severely dysfunctional pervasive level of continuous protective supervision, high risk, danger to self or others.' + 'crlf' +'2 – Marked limitations in self-care requires extensive level of continuous protective supervision due to very high risk.' + 'crlf' +'3 – Limited self-care requires continuous protective supervision due to high risk of abuse.' + 'crlf' +'4 -  Marginally sufficient in self-care and understanding of sexual issues; moderate risk of sexual abuse.' + 'crlf' +'5 – Moderately sufficient in self-care with routine guidance of others needed.' + 'crlf' +'6 – Adequate self-care and respect for gender, with minimal guidance from others needed.' + 'crlf' +'7 – Optimal sexual self-care, no gender issues apparent, respect for self, others, no guidance from others needed.' where HRMActivityId = 14
update [CustomHRMActivities] set HRMActivityDescription ='Productivity: Independently working, volunteering, homemaking, or learning skills for financial self-support.',Example =N'1 – Productivity severely limited; often unable to work or adapt to homemaking or school; virtually no or attempt to be productivity.' + 'crlf' +'2 – Occasional attempts at productivity unsuccessful; productive only with constant supervision in sheltered work, home or special classes.' + 'crlf' +'3 – Limited productivity; often with restricted abilities for independent employment, homemaking, school (e.g. requires highly structured routine).' + 'crlf' +'4 – Marginal productivity (e.g. pro in sheltered work or minimal productive in independent work; fluctuates at home, in school, frequent job changes).' + 'crlf' +'5 – Moderately functional in independent employment, at home or in school (consider very spotty work history or fluctuations at home or school with extended periods of success).' + 'crlf' +'6 – Adequate functioning in independent employment, home or school; often not applying all available/abilities.' + 'crlf' +'7 – Optimally performs employment- related functions, homemaking, or school tasks with ease and efficiency.' where HRMActivityId = 15
update [CustomHRMActivities] set HRMActivityDescription ='Coping Skills: Knows about nature of disability or illness, probable limitations, and symptoms of recurring problems, relapse; behaviors that cause relapse or make situation / condition worse; options for coping, improving, preventing relapse restoring feelings of self-worth competence, being in control.',Example =N'1 – Pervasive stresses no mindful use of coping skills approach health endangering threat, needs pervasive supervision.' + 'crlf' +'2 – Negative use of coping skills often leading to relapses, crises, involving constant interventions, in or out of protective environment.' + 'crlf' +'3 – Ineffective use of few coping skills, relies on constant assistance (e.g. extra prescription requests, frequent use of over-the-counter medications).' + 'crlf' +'4 – Marginally effective knowledge and use of coping mechanisms; regular assistance to initiate coping mechanisms.' + 'crlf' +'5 -  Moderately effective range of coping mechanisms, routine assistance to initiate coping mechanisms.' + 'crlf' +'6 – Effective use of coping mechanisms with only expected, minimal assistance, knows self, acts to reduce stressors and use options to restore confidence.' + 'crlf' +'7 – Optimally effective use of coping mechanisms with no significant assistance from others.' where HRMActivityId = 16
update [CustomHRMActivities] set HRMActivityDescription ='Behavior Norms: Complies with community norms (e.g. controls dangerous, violent, aggressive, bizarre, or nuisance behaviors; respects others, satisfactorily completed probations/parole, court requirements, if applicable).',Example = N'1 – Totally isolated from or evidence severely deviant behaviors in extended social networks (i.e. overtly disruptive, threat to others, criminal justice intervention).' + 'crlf' +'2 – Often totally isolated, refusing community involvement or demonstrates deviant behaviors in community, or belligerent to helpers, neighbors, often rejected.' + 'crlf' +'3 – Limited range of successful and appropriate interactions in extended social networks (i.e. often restricts community involvement to minimal survival level interactions).' + 'crlf' +'4 – Marginally effective interactions; often in a structured environment; may receive multiple public system support in accord with multiple needs.' + 'crlf' +'5 – Moderately effective and independent in community interactions; may receive some public support in accord with needs.' + 'crlf' +'6 – Adequate positive interactions in resident neighborhood or at least one community organization or recreational activity.' + 'crlf' +'7 – Independently and Positively interacts in community, church or clubs, recreational activities, hobbies or personal interests, often with other participants.' where HRMActivityId = 17
update [CustomHRMActivities] set HRMActivityDescription ='Personal Hygiene: Cares for personal cleanliness, such as bathing, brushing teeth.',Example = N'1 – No self-sufficiency in maintaining personal hygiene approaching health endangering threat, pervasive dependence on assistance.' + 'crlf' +'2 – Marked limitations in self-sufficiency, in maintaining personal hygiene, very dependent on assistance. ' + 'crlf' +'3 – Limited self-sufficiency in maintaining personal hygiene dependent on assistance.' + 'crlf' +'4 – Marginally self-sufficient in maintaining adequate hygiene often uses regular assistance.' + 'crlf' +'5 – Moderately self-sufficient in maintaining adequate hygiene with routine assistance.' + 'crlf' +'6 – Adequate self-sufficient in maintaining adequate hygiene with minimal assistance.' + 'crlf' +'7 – Optimal hygiene functioning, self-sufficient in maintaining adequate hygiene cleanliness is not an issue.' where HRMActivityId = 18
update [CustomHRMActivities] set HRMActivityDescription ='Grooming: Cares for hair, hands, general appearance; shaves.',Example=N'1 – N o  self-sufficiency in grooming, extremely dependent on others.' + 'crlf' +'2 – Marked limitations in evident in maintaining clean, self-grooming, very dependent on help.' + 'crlf' +'3 – Limited  self-sufficiency in grooming observations indicate severe impairments.' + 'crlf' +'4 – Marginally  self-sufficient maintaining adequate grooming, often uses regular assistance.' + 'crlf' +'5 – Moderately  self-sufficient in grooming, needs routine assistance.' + 'crlf' +'6 – Adequate  self-sufficiency in grooming, minimal assistance needed.' + 'crlf' +'7 – Optimal self-sufficiency in grooming,with no routine assistance.' where HRMActivityId = 19
update [CustomHRMActivities] set HRMActivityDescription ='Dress: Dresses self; wears clean clothes that are appropriate for weather, job, and other activities; clothing is generally neat and intact.',Example=N'1 – No self-sufficiency in maintaining appropriate dress, extremely dependent on others.' + 'crlf' +'2 – Marked limitations in self-sufficiency in maintaining appropriate dress,very dependent on others.' + 'crlf' +'3 – Limited self-sufficiency in maintaining clean, appropriate dress, dependent on others.' + 'crlf' +'4 – Marginally self-sufficient in maintaining clean, often uses regular assistance.' + 'crlf' +'5 – Moderately  self-sufficient in maintaining clean, appropriate dress, needs routine assistance.' + 'crlf' +'6 – Adequate  self-sufficiency in maintaining clean, appropriate dress, minimal assistance needed.' + 'crlf' +'7 – Optimal self-sufficiency in maintaining clean, appropriate dress; no assistance needed with dress.' where HRMActivityId = 20

end