--Script to inssert values into CustomASAMLevelOfCares
IF NOT EXISTS (SELECT * FROM CustomASAMLevelOfCares WHERE ASAMLevelOfCareId =1 and [LevelOfCareName]='Level 0.5 Early Intervention')
	begin
	SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] ON
		SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] OFF 
	end	

IF NOT EXISTS (SELECT * FROM CustomASAMLevelOfCares WHERE ASAMLevelOfCareId =2 and [LevelOfCareName]='Opioid Maintenance Therapy') 
		begin
		SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] ON
		SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] OFF end	

IF NOT EXISTS (SELECT * FROM CustomASAMLevelOfCares WHERE ASAMLevelOfCareId =3 and [LevelOfCareName]='Level I OP Tx') 
	begin
	SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] ON		
	SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] OFF end	
	
IF NOT EXISTS (SELECT * FROM CustomASAMLevelOfCares WHERE ASAMLevelOfCareId =4 and [LevelOfCareName]='Level II.1 IOP') 
	begin
	SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] ON
	SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] OFF end	
	
IF NOT EXISTS (SELECT * FROM CustomASAMLevelOfCares WHERE ASAMLevelOfCareId =5 and [LevelOfCareName]='Level II. 5 Partial') 
	begin
	SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] ON
	SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] OFF end	
	
IF NOT EXISTS (SELECT * FROM CustomASAMLevelOfCares WHERE ASAMLevelOfCareId =6 and [LevelOfCareName]='Level III.1 Res (low)') 
	begin
	SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] ON
	SET IDENTITY_INSERT [dbo].[CustomASAMLevelOfCares] OFF end	
