/****** Object:  StoredProcedure [dbo].[csp_conv_Document_CustomDiagnosticAssessmentNotes]    Script Date: 06/19/2013 17:49:43 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_conv_Document_CustomDiagnosticAssessmentNotes]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[csp_conv_Document_CustomDiagnosticAssessmentNotes]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_conv_Document_CustomDiagnosticAssessmentNotes]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
  
CREATE PROCEDURE [dbo].[csp_conv_Document_CustomDiagnosticAssessmentNotes]
AS 
    INSERT  INTO dbo.CustomDiagnosticAssessmentNotes
            ( DocumentVersionId ,
              CreatedBy ,
              CreatedDate ,
              ModifiedBy ,
              ModifiedDate ,
              PatientName ,
              DateOfBirth ,
              StaffID ,
              AccessDate ,
              PresentingProblems ,
              Stressors ,
              Strengths ,
              Limitations ,
              FamilyBackground ,
              Environment ,
              LegalGuardian ,
              LegalGuardianDescription ,
              UnusualSocialSettings ,
              UnusualSocialSettingsDescription ,
              CulturalEthnicInfuences ,
              SexualHistory ,
              SexualAbueseNone ,
              PhysicalAssault ,
              DomesticViolence ,
              ChildNeglect ,
              ElderNeglect ,
              Exploration ,
              Exploitation ,
              PhysicalAbuseDesciption ,
              Losses ,
              LossesDescription ,
              LeisureActivities ,
              EmploymentDescription ,
              SetisfiedEmployment ,
              JobSatisfactionDescription ,
              VocationalServicesNeeded ,
              VocationalServicesDescription ,
              MilitaryServices ,
              MilitaryBranch ,
              MilitaryLenghtNumber ,
              MilitaryTimeLenght ,
              EmotinalProblemHistory ,
              EmotinalProblemHistoryDescription ,
              AddictiveBehaviors ,
              ChemicalDependency ,
              SubstanceAbuse ,
              AddictiveBehaviorDescription ,
              MentalHealthTreatmentRecived ,
              MentalHealthTreatmentDescription ,
              SubstanceAbuseTreatmentRecived ,
              SubstanceAbuseTreatmentDescription ,
              FamillyCommunitySupport ,
              LifetimeMedicalThreatToLive ,
              LifetimeSuicideIntent ,
              LifetimeSelfAggression ,
              LifetimeVerbalAggression ,
              LifetimePhysicalaggressionAgainstObjects ,
              LifePhysicalAggressionTowardsOthers ,
              LifeEmptionalImpairment ,
              CurrentMedicalThreatToLive ,
              CurrentSuicideIntent ,
              CurrentSelfAggression ,
              CurrentVerbalAggression ,
              CurrentPhysicalaggressionAgainstObjects ,
              CurrentPhysicalAggressionTowardsOthers ,
              CurrentEmptionalImpairment ,
              HighRiskDescription ,
              ParentQuestion ,
              ParentQuestionDescription ,
              EducationLevel ,
              AreasOfStudy ,
              AcademicAttitude ,
              FutureEducationGoals ,
              CurrentSchoolName ,
              LearningDifficulties ,
              ProtectiveServices ,
              Probation ,
              Parole ,
              Incarceration ,
              LegalHistoryDescription ,
              RelationPresentingLegalProblem ,
              InfluanceLegalSituationClientProgress ,
              SignificantMedicalProblems ,
              SignificantMedicalProblemsDescription ,
              NutritionElaboration ,
              PainElaboration ,
              GeneralAppearance ,
              Guarded ,
              UnderInfluance ,
              Cooperative ,
              Withdrawn ,
              Proactive ,
              Pleasant ,
              NonComply ,
              Manipulative ,
              Hyperactive ,
              Hostile ,
              Suspicious ,
              Hypoactive ,
              OtherMood ,
              OtherMoodDescription ,
              Appropriate ,
              Incongruent ,
              Flat ,
              Depressed ,
              Fearful ,
              Anxious ,
              Irritable ,
              Euphoric ,
              Angry ,
              OtherBehavior ,
              OtherBehaviorDescriptiion ,
              ThoughtContent ,
              Logical ,
              Scattered ,
              Somatic ,
              Tangential ,
              Blocked ,
              Paranoid ,
              Illogical ,
              Fregmented ,
              Loose ,
              Grandiose ,
              Speech ,
              Motor ,
              Intellect ,
              Orientation ,
              Insight ,
              Judgment ,
              Memory ,
              DiagnosticImpressions ,
              GroupTherapy ,
              IndividualTherapy ,
              CSP ,
              FamilyTherapy ,
              PsychiatricEvaluation ,
              PsychiatricTest ,
              VocationalServices ,
              LegalServices ,
              SubstanceAbuseServices ,
              MedicationsPrescribed ,
              OtherTreatment ,
              OtherTreatmentDescription ,
              GroupName ,
              ReferralReasonDescription ,
              AxisIDSMCode ,
              AxisIDSMTypeRuleOut ,
              AxisIDSMTypeHistory ,
              AxisIDSMTypeReport ,
              AxisIDSMTypeStatus ,
              AxisIDSMCode2 ,
              AxisIDSMTypeRuleOut2 ,
              AxisIDSMTypeHistory2 ,
              AxisIDSMTypeReport2 ,
              AxisIDSMTypeStatus2 ,
              AxisIDSMCode3 ,
              AxisIDSMTypeRuleOut3 ,
              AxisIDSMTypeHistory3 ,
              AxisIDSMTypeReport3 ,
              AxisIDSMTypeStatus3 ,
              AxisIDSMCode4 ,
              AxisIDSMTypeRuleOut4 ,
              AxisIDSMTypeHistory4 ,
              AxisIDSMTypeReport4 ,
              AxisIDSMTypeStatus4 ,
              AxisIDSMCode5 ,
              AxisIDSMTypeRuleOut5 ,
              AxisIDSMTypeHistory5 ,
              AxisIDSMtypeReport5 ,
              AxisIDSMdsmTypeStatus5 ,
              AxisIIDSMCode ,
              AxisIIDSMTypeRuleOut ,
              AxisIIDSMTypeHistory ,
              AxisIIDSMTypeReport ,
              AxisIIDSMTypeStatus ,
              AxisIIDSMCode2 ,
              AxisIIDSMTypeRuleOut2 ,
              AxisIIDSMTypeHistory2 ,
              AxisIIDSMTypeReport2 ,
              AxisIIDSMTypeStatus2 ,
              AxisIIDSMCode3 ,
              AxisIIDSMtypeRule_out3 ,
              AxisIIDSMtypeHistory3 ,
              AxisIIDSMTypeReport3 ,
              AxisIIDSMTypeStatus3 ,
              AxisIIDSMCode4 ,
              AxisIIDSMTypeRuleOut4 ,
              AxisIIDSMTypeHistory4 ,
              AxisIIDSMTypeReport4 ,
              AxisIIDSMTypeStatus4 ,
              AxisIIDSMCode5 ,
              AxisIIDSMTypeRuleOut5 ,
              AxisIIDSMTypeHistory5 ,
              AxisIIDSMTypeReport5 ,
              AxisIIDSMTypeStatus5 ,
              AxisIIIICD9Code ,
              AxisIIIICD9TypeRuleOut ,
              AxisIIIICD9TypeHistory ,
              AxisIIIICD9TypeReport ,
              AxisIIIICD9TypeStatus ,
              AxisIIIICD9Code2 ,
              AxisIIIICD9TypeRuleOut2 ,
              AxisIIIICD9TypeHistory2 ,
              AxisIIIICD9TypeReport2 ,
              AxisIIIICD9TypeStatus2 ,
              AxisIIIICD9Code3 ,
              AxisIIIICD9TypeRuleOut3 ,
              AxisIIIICD9TypeHistory3 ,
              AxisIIIICD9TypeReport3 ,
              AxisIIIICD9TypeStatus3 ,
              AxisIIIICD9Code4 ,
              AxisIIIICD9TypeRuleOut4 ,
              AxisIIIICD9TypeHistory4 ,
              AxisIIIICD9TypeReport4 ,
              AxisIIIICD9TypeStatus4 ,
              AxisIIIICD9Code5 ,
              AxisIIIICD9TypeRuleOut5 ,
              AxisIIIICD9TypeHistory5 ,
              AxisIIIICD9TypeReport5 ,
              AxisIIIICD9TypeStatus5 ,
              AxisIIITextDescription ,
              PrimarySupportProblem ,
              SocialEnviromentProblem ,
              EducationalProblem ,
              OccupationalProblem ,
              HousingProblem ,
              EconomicalProblem ,
              HealthcareProblem ,
              LegalProblem ,
              OtherPsychiatricProblem ,
              OtherPsychiatricProblemDescription ,
              PsychiatricEnviromentSummary ,
              GafScore ,
              GafNumberLength ,
              GafTimeLength ,
              AxisRemain ,
              AxisHistory ,
              CommSupport ,
              MentalHealthHistory ,
              RequireService ,
              MentalHealthLoc ,
              MentalHealthLocScore ,
              MentalHealthReason ,
              SubstanceAbuseLoc ,
              SubstanceAbuseLocScore ,
              SubstanceAbuseReason ,
              AxisIDSMDescription ,
              AxisIDSMDescription2 ,
              AxisIDSMDescription3 ,
              AxisIDSMDescription4 ,
              AxisIDSMDescription5 ,
              AxisIIDSMDescription ,
              AxisIIDSMDescription2 ,
              AxisIIDSMDescription3 ,
              AxisIIDSMDescription4 ,
              AxisIIDSMDescription5 ,
              AxisIIIICD9Description ,
              AxisIIIICD9Description2 ,
              AxisIIIICD9Description3 ,
              AxisIIIICD9Description4 ,
              AxisIIIIcd9Description5 ,
              AxisIDSMTrueDescription ,
              AxisIDSMTrueDescription2 ,
              AxisIDSMTrueDescription3 ,
              AxisIDSMTrueDescription4 ,
              AxisIDSMTrueDEescription5 ,
              AxisIIDSMTrueDescription ,
              AxisIIDSMTrueDescription2 ,
              AxisIIDSMTrueDescription3 ,
              AxisIIDSMTrueDescription4 ,
              AxisIIDSMTrueDescription5 ,
              AxisIIIICD9TrueDescription ,
              AxisIIIICD9TrueDescription2 ,
              AxisIIIICD9DrueDescription3 ,
              AxisIIIICD9TrueDescription4 ,
              AxisIIIICD9TrueDescription5 ,
              AxisIIINone ,
              PhysicalAbuseNone ,
              NutritionNone ,
              AddictiveNone ,
              LegalNone ,
              PainNone ,
              SignatureStaffID ,
              AxisIDSMNo ,
              AxisIDSMNo2 ,
              AxisIDSMNo3 ,
              AxisIDSMNo4 ,
              AxisIDSMNo5 ,
              AxisIIDSMNo ,
              AxisIIDSMNo2 ,
              AxisIIDSMNo3 ,
              AxisIIDSMNo4 ,
              AxisIIDSMNo5 ,
              AxisIPirimary ,
              AxisIPrimary2 ,
              AxisIPrimary3 ,
              AxisIPrimary4 ,
              AxisIPrimary5 ,
              AxisIIPrimary ,
              AxisIIPrimary2 ,
              AxisIIPrimary3 ,
              AxisIIPrimary4 ,
              AxisIIPrimary5 ,
              AxisIDSMCodeNo ,
              AxisIDSMCodeNo2 ,
              AxisIDSMCodeNo3 ,
              AxisIDSMCodeNo4 ,
              AxisIDSMCodeNo5 ,
              AxisIIDSMCodeNo ,
              AxisIIDSMCodeNo2 ,
              AxisIIDSMCodeNo3 ,
              AxisIIDSMCodeNo4 ,
              SatisEmplNot ,
              AxisIIDSMCodeNo5 ,
              ProcedureDuration ,
              MemoryLength ,
              ChildNotAppr ,
              MilestoneLanguage ,
              MilestoneVocabulary ,
              MilestoneFineMotorSkills ,
              MilestoneGrossMotorSkills ,
              MilestoneIntellectual ,
              MilestoneFriends ,
              MilestoneInterests ,
              MilestoneEyeContact ,
              MilestoneCoping ,
              MilestoneToilet ,
              MilestoneComment ,
              Hi9ghestGradeCopleted ,
              PreviousGradeRetentions ,
              PreviousGradeRetentionsDescription ,
              Suspension ,
              SuspensionDescription ,
              LeisureNone ,
              RegularEducationClass ,
              MultipleDisabilities ,
              DeafBlind ,
              Deafness ,
              VisualImaired ,
              LanguageImpaired ,
              OrthopedicImpairment ,
              EmotionallyDisturbed ,
              MentalyRetarded ,
              SpecialLearningDisabilty ,
              PreschoolDisability ,
              Autism ,
              BrainInjury ,
              OtherHealthMajor ,
              OtherHealthMinor ,
              Current504 ,
              OtherEducationClass ,
              OtherEducationDescription ,
              OtherEducationComments ,
              Grades ,
              SpecialCommNone ,
              SignLanguage ,
              AssistListen ,
              TDDDevice ,
              Interpreter ,
              InterpreterLanguage ,
              Treatment ,
              OhioOutUsed ,
              PlanCode ,
              EAPNature ,
              EAPPlan ,
              AssessTime ,
              SchoolNotApplicable ,
              PreferedStudyNotApplicable ,
              FutureEducationNone ,
              PresentProblemNotApplicable ,
              InformingLegalNotApplicable ,
              EmployeVocationDesignatedDays ,
              FamilySupportNone ,
              Alcohol30Days ,
              AlcoholLifetime ,
              AlcoholFrequency ,
              AlcoholTreatment ,
              Cocaine30Days ,
              CocaineLifetime ,
              CocaineFrequency ,
              CocaineTreatment ,
              Barbiturates30Days ,
              BarbituratesLifetime ,
              BarbituratesFrequency ,
              BarbituratesTreatment ,
              Hallucinogens30Days ,
              HallucinogensLifetime ,
              HallucinogensFrequency ,
              HallucinogensTreatment ,
              PainPills30Days ,
              PainPillsLifetime ,
              PainPillsFrequency ,
              PainPillsTreatment ,
              Narcotic30Days ,
              NarcoticLifetime ,
              NarcoticFrequency ,
              Narcotic ,
              Marijuana30Days ,
              Marijuana ,
              MarijuanaFrequency ,
              MarijuanaTreatment ,
              Inhalant30Days ,
              InhalantLifetime ,
              InhalantFrequency ,
              InhalantTreatment ,
              OtherSubstanceAbuse30Days ,
              OtherSubstanceAbuseLifetime ,
              OtherSubstanceAbuseFrequency ,
              OtherSubstanceAbuseTreatment ,
              OtherSubstanceAbuseDescription ,
              MentalStatusExamBehavior ,
              MentalStatusExamMood ,
              MentalStatusExamThoughtProcess ,
              ChildDevelopmetMilestonesLanguage ,
              ChildDevelopmetMilestones ,
              ChildDevelopmetMilestonesFineMotor ,
              ChildDevelopmetMilestonesGrossMotor ,
              ChildDevelopmetMilestonesIntelligence ,
              ChildDevelopmetMilestonesFriends ,
              ChildDevelopmetMilestonesInterests ,
              ChildDevelopmetMilestonesEye ,
              ChildDevelopmetMilestonesToilet ,
              ChildDevelopmetMilestonesCoping ,
              FUllISP ,
              FullISPMedication ,
              NoISPRequired ,
              InitialISP ,
              PrimaryProblem ,
              Goal ,
              Objective ,
              IndividualGroup ,
              CSPIndividualGroup ,
              Tip ,
              Gender ,
              Abilities ,
              EmployeeStatusNa ,
              EmotionalProblemsHistory ,
              EmotionalProblemsNone ,
              TreatedReportedDiagnosis ,
              TreatedReportedTreatment ,
              MedicationDescription ,
              FamilyHistorySubstanceAbuse ,
              FamilyHistorySubstanceAbuseNone ,
              DAST ,
              MAST ,
              SubstanceAbuseClinicalRecord ,
              SuicideIdeation ,
              SuicideIntent ,
              SuicideAttempt ,
              HospitalizationSuicide ,
              PhysicalAggression ,
              VerbalAggression ,
              PhysicalAggressionObject ,
              PhysicalAggressionOThers ,
              EmotionallyImpaired ,
              SuicideIdeationComment ,
              SuicideIntentComment ,
              SuicideAttemptComment ,
              HospitalizationSuicideComment ,
              PhysicalAggressionComment ,
              VerbalAggressionComment ,
              PhysicalAggressionObjectComment ,
              PhysicalAggressionOThersComment ,
              ImpairedEmotinalComm ,
              SecationNotIndicated ,
              OtherAdditionalEducationClass ,
              OtherAdditionalEcuaationClassDescription ,
              EducationClass ,
              FutureEducationNa ,
              FamilyInvolve ,
              ClinicalRecommendations ,
              AbuseNone ,
              EmotionalAbuse ,
              VerbalAbuse ,
              PhysicalAbuse ,
              SexualAbuse ,
              NeglectAbuse ,
              AbuseHistory ,
              RegualrEducationClassroom ,
              SpecialEducationClassroom ,
              CognitiveDisability ,
              OtherPhysicalImpairment ,
              OtherPhysicalDescription ,
              HighEducationOther ,
              HealthAssessHistory ,
              HealthAssesNone ,
              LegalRelatedSubstanceAbuse ,
              ExTernalSupportDescription ,
              IDDT ,
              DPAssess ,
              PartialHospitalization ,
              Quest ,
              PrimaryCare ,
              ExternalSupport ,
              ClientPreferance ,
              Needs ,
              FrequencyServices ,
              ClientISPParticipation ,
              ClientISPParticipationExplanation ,
              AxisIDSMCodeNo6 ,
              AxisIDSMCodeNo7 ,
              AxisIDSMCodeNo8 ,
              AxisIDSMDescription6 ,
              AxisIDSMDescription7 ,
              AxisIDSMDescription8 ,
              AxisIPrimary6 ,
              AxisIPrimary7 ,
              AxisIPrimary8 ,
              AxisIDSMTypeRuleOut6 ,
              AxisIDSMTypeRuleOut7 ,
              AxisIDSMTypeRuleOut8 ,
              AxisIDSMTypeHistory6 ,
              AxisIDSMTypeHistory7 ,
              AxisIDSMTypeHistory8 ,
              AxisIDSMTypeReport6 ,
              AxisIDSMTypeReport7 ,
              AxisIDSMTypeReport8 ,
              AxisIDSMNo6 ,
              AxisIDSMNo7 ,
              AxisIDSMNo8 ,
              AxisIDSMTrueDescription6 ,
              AxisIDSMTrueDescription7 ,
              AxisIDSMTrueDescription8 ,
              DiagnosisImpression ,
              AxisIDSMCode6 ,
              AxisIDSMCode7 ,
              AxisIDSMCode8
            )
            SELECT  dvm.DocumentVersionId ,
                    d.orig_user_id ,
                    d.orig_entry_chron ,
                    d.user_id ,
                    d.entry_chron ,
                    d.patient_name ,
                    d.dob ,
                    d.staff_id ,
                    d.assess_date ,
                    d.presenting_problems ,
                    d.stressors ,
                    d.strengths ,
                    d.limitations ,
                    d.family_background ,
                    d.environment ,
                    d.legal_guardian ,
                    d.legal_guardian_desc ,
                    d.unusual_social_settings ,
                    d.unusual_social_settings_desc ,
                    d.cultural_ethnic_influences ,
                    d.sexual_history ,
                    d.sexual_abuse_none ,
                    d.physical_assault ,
                    d.domestic_violence ,
                    d.child_neglect ,
                    d.elder_neglect ,
                    d.exploration ,
                    d.exploitation ,
                    d.physical_abuse_desc ,
                    d.losses ,
                    d.losses_desc ,
                    d.leisure_activities ,
                    d.employment_desc ,
                    d.satisfied_employment ,
                    d.job_satis_desc ,
                    d.voc_services_needed ,
                    d.voc_services_desc ,
                    d.military_service ,
                    d.branch_military ,
                    d.number_length_military ,
                    d.time_length_military ,
                    d.emotional_prob_history ,
                    d.emotion_prob_desc ,
                    d.addict_behaviors ,
                    d.chem_dependency ,
                    d.subst_abuse ,
                    d.addict_behaviors_desc ,
                    d.mh_treatment_received ,
                    d.mh_treatment_desc ,
                    d.sa_treatment_received ,
                    d.sa_treatment_desc ,
                    d.family_comm_support ,
                    d.life_medical_threat ,
                    d.life_suicidal_intent ,
                    d.life_self_aggression ,
                    d.life_verbal_aggression ,
                    d.life_physical_aggression_objects ,
                    d.life_physical_aggression_other ,
                    d.life_emotional_impairment ,
                    d.curr_medical_threat ,
                    d.curr_suicidal_intent ,
                    d.curr_self_aggression ,
                    d.curr_verbal_aggression ,
                    d.curr_physical_aggression_objects ,
                    d.curr_physical_aggression_other ,
                    d.curr_emotional_impairment ,
                    d.high_risk_desc ,
                    d.parent_question ,
                    d.parent_question_desc ,
                    d.ed_level ,
                    d.areas_of_study ,
                    d.academic_attitude ,
                    d.future_educ_goals ,
                    d.curr_school_name ,
                    d.learning_difficulties ,
                    d.protective_services ,
                    d.probation ,
                    d.parole ,
                    d.incarceration ,
                    d.legal_history_desc ,
                    d.presenting_prob_legal_rel ,
                    d.legal_sit_client_progress ,
                    d.sig_med_problems ,
                    d.med_prob_desc ,
                    d.nutrition_elaboration ,
                    d.pain_elaboration ,
                    d.gen_appearance ,
                    d.guarded ,
                    d.under_influence ,
                    d.cooperative ,
                    d.withdrawn ,
                    d.provacative ,
                    d.pleasant ,
                    d.non_comply ,
                    d.manipulative ,
                    d.hyperactive ,
                    d.hostile ,
                    d.suspicious ,
                    d.hypoactive ,
                    d.other_mood ,
                    d.other_mood_desc ,
                    d.appropriate ,
                    d.incongruent ,
                    d.flat ,
                    d.depressed ,
                    d.fearful ,
                    d.anxious ,
                    d.irritable ,
                    d.euphoric ,
                    d.angry ,
                    d.other_behavior ,
                    d.other_behavior_desc ,
                    d.thought_content ,
                    d.logical ,
                    d.scattered ,
                    d.somatic ,
                    d.tangential ,
                    d.blocked ,
                    d.paranoid ,
                    d.illogical ,
                    d.fragmented ,
                    d.loose ,
                    d.grandiose ,
                    d.speech ,
                    d.motor ,
                    d.intellect ,
                    d.orientation ,
                    d.insight ,
                    d.judgment ,
                    d.memory ,
                    d.diag_impressions ,
                    d.group_therapy ,
                    d.indiv_therapy ,
                    d.CSP ,
                    d.family_therapy ,
                    d.psych_eval ,
                    d.psych_test ,
                    d.voc_services ,
                    d.legal_services ,
                    d.sa_services ,
                    d.med_doc ,
                    d.other_tx ,
                    d.other_tx_description ,
                    d.group_name ,
                    d.ref_reason_desc ,
                    d.axis_i_dsm_code ,
                    d.axis_i_dsm_type_rule_out ,
                    d.axis_i_dsm_type_history ,
                    d.axis_i_dsm_type_report ,
                    d.axis_i_dsm_type_status ,
                    d.axis_i_dsm_code_2 ,
                    d.axis_i_dsm_type_rule_out_2 ,
                    d.axis_i_dsm_type_history_2 ,
                    d.axis_i_dsm_type_report_2 ,
                    d.axis_i_dsm_type_status_2 ,
                    d.axis_i_dsm_code_3 ,
                    d.axis_i_dsm_type_rule_out_3 ,
                    d.axis_i_dsm_type_history_3 ,
                    d.axis_i_dsm_type_report_3 ,
                    d.axis_i_dsm_type_status_3 ,
                    d.axis_i_dsm_code_4 ,
                    d.axis_i_dsm_type_rule_out_4 ,
                    d.axis_i_dsm_type_history_4 ,
                    d.axis_i_dsm_type_report_4 ,
                    d.axis_i_dsm_type_status_4 ,
                    d.axis_i_dsm_code_5 ,
                    d.axis_i_dsm_type_rule_out_5 ,
                    d.axis_i_dsm_type_history_5 ,
                    d.axis_i_dsm_type_report_5 ,
                    d.axis_i_dsm_type_status_5 ,
                    d.axis_ii_dsm_code ,
                    d.axis_ii_dsm_type_rule_out ,
                    d.axis_ii_dsm_type_history ,
                    d.axis_ii_dsm_type_report ,
                    d.axis_ii_dsm_type_status ,
                    d.axis_ii_dsm_code_2 ,
                    d.axis_ii_dsm_type_rule_out_2 ,
                    d.axis_ii_dsm_type_history_2 ,
                    d.axis_ii_dsm_type_report_2 ,
                    d.axis_ii_dsm_type_status_2 ,
                    d.axis_ii_dsm_code_3 ,
                    d.axis_ii_dsm_type_rule_out_3 ,
                    d.axis_ii_dsm_type_history_3 ,
                    d.axis_ii_dsm_type_report_3 ,
                    d.axis_ii_dsm_type_status_3 ,
                    d.axis_ii_dsm_code_4 ,
                    d.axis_ii_dsm_type_rule_out_4 ,
                    d.axis_ii_dsm_type_history_4 ,
                    d.axis_ii_dsm_type_report_4 ,
                    d.axis_ii_dsm_type_status_4 ,
                    d.axis_ii_dsm_code_5 ,
                    d.axis_ii_dsm_type_rule_out_5 ,
                    d.axis_ii_dsm_type_history_5 ,
                    d.axis_ii_dsm_type_report_5 ,
                    d.axis_ii_dsm_type_status_5 ,
                    d.axis_iii_icd9_code ,
                    d.axis_iii_icd9_type_rule_out ,
                    d.axis_iii_icd9_type_history ,
                    d.axis_iii_icd9_type_report ,
                    d.axis_iii_icd9_type_status ,
                    d.axis_iii_icd9_code_2 ,
                    d.axis_iii_icd9_type_rule_out_2 ,
                    d.axis_iii_icd9_type_history_2 ,
                    d.axis_iii_icd9_type_report_2 ,
                    d.axis_iii_icd9_type_status_2 ,
                    d.axis_iii_icd9_code_3 ,
                    d.axis_iii_icd9_type_rule_out_3 ,
                    d.axis_iii_icd9_type_history_3 ,
                    d.axis_iii_icd9_type_report_3 ,
                    d.axis_iii_icd9_type_status_3 ,
                    d.axis_iii_icd9_code_4 ,
                    d.axis_iii_icd9_type_rule_out_4 ,
                    d.axis_iii_icd9_type_history_4 ,
                    d.axis_iii_icd9_type_report_4 ,
                    d.axis_iii_icd9_type_status_4 ,
                    d.axis_iii_icd9_code_5 ,
                    d.axis_iii_icd9_type_rule_out_5 ,
                    d.axis_iii_icd9_type_history_5 ,
                    d.axis_iii_icd9_type_report_5 ,
                    d.axis_iii_icd9_type_status_5 ,
                    d.axis_iii_text_desc ,
                    d.primary_support_prob ,
                    d.social_envir_prob ,
                    d.educ_prob ,
                    d.occup_prob ,
                    d.housing_prob ,
                    d.econ_prob ,
                    d.health_care_prob ,
                    d.legal_prob ,
                    d.other_psych_prob ,
                    d.other_psych_problems ,
                    d.psych_envir_summary ,
                    d.gaf_score ,
                    d.number_length_gaf ,
                    d.time_length_gaf ,
                    d.axis_remain ,
                    d.axis_history ,
                    d.comm_support ,
                    d.mh_history ,
                    d.require_service ,
                    d.loc_mh ,
                    d.mh_loc_score ,
                    d.mh_reason ,
                    d.loc_sa ,
                    d.sa_loc_score ,
                    d.sa_reason ,
                    d.axis_i_dsm_desc ,
                    d.axis_i_dsm_desc_2 ,
                    d.axis_i_dsm_desc_3 ,
                    d.axis_i_dsm_desc_4 ,
                    d.axis_i_dsm_desc_5 ,
                    d.axis_ii_dsm_desc ,
                    d.axis_ii_dsm_desc_2 ,
                    d.axis_ii_dsm_desc_3 ,
                    d.axis_ii_dsm_desc_4 ,
                    d.axis_ii_dsm_desc_5 ,
                    d.axis_iii_icd9_desc ,
                    d.axis_iii_icd9_desc_2 ,
                    d.axis_iii_icd9_desc_3 ,
                    d.axis_iii_icd9_desc_4 ,
                    d.axis_iii_icd9_desc_5 ,
                    d.axis_i_dsm_true_desc ,
                    d.axis_i_dsm_true_desc_2 ,
                    d.axis_i_dsm_true_desc_3 ,
                    d.axis_i_dsm_true_desc_4 ,
                    d.axis_i_dsm_true_desc_5 ,
                    d.axis_ii_dsm_true_desc ,
                    d.axis_ii_dsm_true_desc_2 ,
                    d.axis_ii_dsm_true_desc_3 ,
                    d.axis_ii_dsm_true_desc_4 ,
                    d.axis_ii_dsm_true_desc_5 ,
                    d.axis_iii_icd9_true_desc ,
                    d.axis_iii_icd9_true_desc_2 ,
                    d.axis_iii_icd9_true_desc_3 ,
                    d.axis_iii_icd9_true_desc_4 ,
                    d.axis_iii_icd9_true_desc_5 ,
                    d.axis_iii_none ,
                    d.phys_abuse_none ,
                    d.nutrition_none ,
                    d.addictive_none ,
                    d.legal_none ,
                    d.pain_none ,
                    d.sig_staff_id ,
                    d.axis_i_dsm_no ,
                    d.axis_i_dsm_no_2 ,
                    d.axis_i_dsm_no_3 ,
                    d.axis_i_dsm_no_4 ,
                    d.axis_i_dsm_no_5 ,
                    d.axis_ii_dsm_no ,
                    d.axis_ii_dsm_no_2 ,
                    d.axis_ii_dsm_no_3 ,
                    d.axis_ii_dsm_no_4 ,
                    d.axis_ii_dsm_no_5 ,
                    d.axis_i_primary ,
                    d.axis_i_primary_2 ,
                    d.axis_i_primary_3 ,
                    d.axis_i_primary_4 ,
                    d.axis_i_primary_5 ,
                    d.axis_ii_primary ,
                    d.axis_ii_primary_2 ,
                    d.axis_ii_primary_3 ,
                    d.axis_ii_primary_4 ,
                    d.axis_ii_primary_5 ,
                    d.axis_i_dsm_code_no ,
                    d.axis_i_dsm_code_no_2 ,
                    d.axis_i_dsm_code_no_3 ,
                    d.axis_i_dsm_code_no_4 ,
                    d.axis_i_dsm_code_no_5 ,
                    d.axis_ii_dsm_code_no ,
                    d.axis_ii_dsm_code_no_2 ,
                    d.axis_ii_dsm_code_no_3 ,
                    d.axis_ii_dsm_code_no_4 ,
                    d.satis_empl_na ,
                    d.axis_ii_dsm_code_no_5 ,
                    d.proc_duration ,
                    d.memory_length ,
                    d.child_not_appr ,
                    d.mile_language ,
                    d.mile_vocab ,
                    d.mile_fine_motor ,
                    d.mile_gross_motor ,
                    d.mile_intellectual ,
                    d.mile_friends ,
                    d.mile_interests ,
                    d.mile_eye_contact ,
                    d.mile_coping ,
                    d.mile_toilet ,
                    d.mile_comment ,
                    d.high_grade_comp ,
                    d.prev_grade_retention ,
                    d.prev_grade_retention_desc ,
                    d.suspension ,
                    d.suspension_desc ,
                    d.leisure_none ,
                    d.reg_educ_class ,
                    d.mult_disabilities ,
                    d.deaf_blind ,
                    d.deafness ,
                    d.visual_impair ,
                    d.language_impair ,
                    d.ortho_impair ,
                    d.emotion_disturb ,
                    d.mental_retard ,
                    d.spec_learn_disab ,
                    d.preschool_disab ,
                    d.autism ,
                    d.brain_injury ,
                    d.other_health_major ,
                    d.other_health_minor ,
                    d.current_504 ,
                    d.other_educ_class ,
                    d.other_educ_desc ,
                    d.other_educ_comments ,
                    d.grades ,
                    d.spec_comm_none ,
                    d.sign_language ,
                    d.assist_listen ,
                    d.tdd_device ,
                    d.interpreter_other ,
                    d.interpreter_language ,
                    d.tx_recommendations ,
                    d.ohio_out_used ,
                    d.plan_code ,
                    d.eap_nature ,
                    d.eap_plan ,
                    d.assess_time ,
                    d.school_na ,
                    d.pref_study_na ,
                    d.fut_educ_none ,
                    d.pres_prob_na ,
                    d.inf_legal_na ,
                    d.employ_voc_dd ,
                    d.family_supp_none ,
                    d.alcohol_30 ,
                    d.alcohol_lifetime ,
                    d.alcohol_frequency ,
                    d.alcohol_tx ,
                    d.cocaine_30 ,
                    d.cocaine_lifetime ,
                    d.cocaine_frequency ,
                    d.cocaine_tx ,
                    d.barbit_30 ,
                    d.barbit_lifetime ,
                    d.barbit_frequency ,
                    d.barbit_tx ,
                    d.halluc_30 ,
                    d.halluc_lifetime ,
                    d.halluc_frequency ,
                    d.halluc_tx ,
                    d.pain_30 ,
                    d.pain_lifetime ,
                    d.pain_frequency ,
                    d.pain_tx ,
                    d.narcotic_30 ,
                    d.narcotic_lifetime ,
                    d.narcotic_frequency ,
                    d.narcotic_tx ,
                    d.marijuana_30 ,
                    d.marijuana_lifetime ,
                    d.marijuana_frequency ,
                    d.marijuana_tx ,
                    d.inhalant_30 ,
                    d.inhalant_lifetime ,
                    d.inhalant_frequency ,
                    d.inhalant_tx ,
                    d.other_sa_30 ,
                    d.other_sa_lifetime ,
                    d.other_sa_frequency ,
                    d.other_sa_tx ,
                    d.other_sa_desc ,
                    d.mse_behavior ,
                    d.mse_mood ,
                    d.mse_thought_proc ,
                    d.cd_language ,
                    d.cd_exp_language ,
                    d.cd_fine_motor ,
                    d.cd_gross_motor ,
                    d.cd_intell ,
                    d.cd_friends ,
                    d.cd_interests ,
                    d.cd_eye ,
                    d.cd_toilet ,
                    d.cd_coping ,
                    d.full_isp ,
                    d.full_isp_med ,
                    d.no_isp_req ,
                    d.initial_isp ,
                    d.prim_problem ,
                    d.goal ,
                    d.objective ,
                    d.indiv_group ,
                    d.csp_indiv_group ,
                    d.tlp ,
                    d.gender ,
                    d.abilities ,
                    d.na_emp_status ,
                    d.hist_emot ,
                    d.hist_emot_none ,
                    d.rt_dx ,
                    d.rt_tx ,
                    d.med_desc ,
                    d.fh_sa ,
                    d.fh_sa_none ,
                    d.dast ,
                    d.mast ,
                    d.sa_clin_rec ,
                    d.suicide_ideation ,
                    d.suicide_intent ,
                    d.suicide_attempt ,
                    d.hosp_suicide ,
                    d.phys_aggress ,
                    d.verbal_aggress ,
                    d.phys_aggress_obj ,
                    d.phys_aggress_oth ,
                    d.impair_emot ,
                    d.suicide_ideation_comm ,
                    d.suicide_intent_comm ,
                    d.suicide_attempt_comm ,
                    d.hosp_suicide_comm ,
                    d.phys_aggress_comm ,
                    d.verbal_aggress_comm ,
                    d.phys_aggress_obj_comm ,
                    d.phys_aggress_oth_comm ,
                    d.impair_emot_comm ,
                    d.section_not_ind ,
                    d.other_addl_educ_class ,
                    d.other_addl_educ_class_desc ,
                    d.educ_class ,
                    d.future_educ_na ,
                    d.family_involve ,
                    d.clinical_recommendations ,
                    d.abuse_none ,
                    d.emot_abuse ,
                    d.verb_abuse ,
                    d.phys_abuse ,
                    d.sex_abuse ,
                    d.neg_abuse ,
                    d.hist_abuse ,
                    d.reg_ed_class ,
                    d.sp_ed_class ,
                    d.cog_disab ,
                    d.other_phys_impair ,
                    d.other_phys_desc ,
                    d.high_educ_other ,
                    d.health_assess_history ,
                    d.health_assess_none ,
                    d.legal_rel_sa ,
                    d.ext_supp_desc ,
                    d.iddt ,
                    d.dp_assess ,
                    d.part_hosp ,
                    d.quest ,
                    d.prim_care ,
                    d.ext_supp ,
                    d.client_pref ,
                    d.needs ,
                    d.freq_services ,
                    d.client_isp_part ,
                    d.client_isp_part_exp ,
                    d.axis_i_dsm_code_no_6 ,
                    d.axis_i_dsm_code_no_7 ,
                    d.axis_i_dsm_code_no_8 ,
                    d.axis_i_dsm_desc_6 ,
                    d.axis_i_dsm_desc_7 ,
                    d.axis_i_dsm_desc_8 ,
                    d.axis_i_primary_6 ,
                    d.axis_i_primary_7 ,
                    d.axis_i_primary_8 ,
                    d.axis_i_dsm_type_rule_out_6 ,
                    d.axis_i_dsm_type_rule_out_7 ,
                    d.axis_i_dsm_type_rule_out_8 ,
                    d.axis_i_dsm_type_history_6 ,
                    d.axis_i_dsm_type_history_7 ,
                    d.axis_i_dsm_type_history_8 ,
                    d.axis_i_dsm_type_report_6 ,
                    d.axis_i_dsm_type_report_7 ,
                    d.axis_i_dsm_type_report_8 ,
                    d.axis_i_dsm_no_6 ,
                    d.axis_i_dsm_no_7 ,
                    d.axis_i_dsm_no_8 ,
                    d.axis_i_dsm_true_desc_6 ,
                    d.axis_i_dsm_true_desc_7 ,
                    d.axis_i_dsm_true_desc_8 ,
                    d.diag_impression ,
                    d.axis_i_dsm_code_6 ,
                    d.axis_i_dsm_code_7 ,
                    d.axis_i_dsm_code_8
            FROM    Psych..cstm_doc_assessment d
                    LEFT  JOIN Cstm_Conv_Map_DocumentVersions dvm ON dvm.doc_session_no = d.doc_session_no
                                                              AND dvm.version_no = d.version_no
            WHERE   NOT EXISTS ( SELECT *
                                 FROM   CustomActivityNotes c
                                 WHERE  c.DocumentVersionId = ISNULL(dvm.DocumentVersionId,
                                                              -1) )
                    AND NOT EXISTS ( SELECT *
                                     FROM   Cstm_Conv_Map_Exclude_Documents ed
                                     WHERE  ed.doc_session_no = d.doc_session_no )
                                                              
    IF @@error <> 0 
        GOTO error

    RETURN

    error:

    RAISERROR 5010 ''Failed to execute csp_conv_Document_CustomDiagnosticAssessmentNotes''
    

' 
END
GO
