/****** Object:  StoredProcedure [dbo].[csp_RDLCustomDocumentDiagnosticAssessments]    Script Date: 06/19/2013 17:49:46 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_RDLCustomDocumentDiagnosticAssessments]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[csp_RDLCustomDocumentDiagnosticAssessments]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_RDLCustomDocumentDiagnosticAssessments]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE  [dbo].[csp_RDLCustomDocumentDiagnosticAssessments]                 
(                                                                                                                                                                                                  
  @DocumentVersionId int                                                                                                                                                                        
)                                                                                                                                                                                                  
As            
--[csp_RDLCustomDocumentDiagnosticAssessments] 837021                                                                                                                                         
/*********************************************************************/                                                                                                                                                
/* Stored Procedure: dbo.[csp_RDLCustomDocumentDiagnosticAssessments]                */                                                                                                                                                
/* Copyright: 2008 Streamline Healthcare Solutions,  LLC             */                                                                                                                                                
/* Creation Date:  20 June,2011                                        */                                                                                                                                                
/* Created By  Jagdeep Hundal                                                                  */                                                                                                                                                
/* Purpose:  Get Data for CustomDocumentDiagnosticAssessments Pages */                                                                                                                                              
/*                                                                   */                                                                                                                                              
/* Input Parameters:  @DocumentVersionId             */                                                                                                                                              
/*                                                                   */                                                                                                                                                
/* Output Parameters:   None                   */                                                                                                                                                
/*                                                                   */                                                                                                                                                
/* Return:  0=success, otherwise an error number                     */                                                                                                                                                
/*                                                                   */                                                                                                                                                
/* Called By:                                                        */                                                                                                                                                
/*                                                                   */                            
/* Calls:             */         
/* */                  
/* Data Modifications:   */                                               
/* */                                                                                               
/* Updates:               */                                                            
/* Date     Author            Purpose                             */                                                                   
                                                                                                                 
/*********************************************************************/                                                                                                                                           
BEGIN
                                                                                                             
BEGIN TRY                               
BEGIN          
  
                                       
SELECT CDDA.[DocumentVersionId]         
      ,(Select OrganizationName from SystemConfigurations) as OrganizationName                                
      ,Documents.ClientId                                
      ,Clients.LastName + '', '' + Clients.FirstName as ClientName  
      ,dbo.GetAge(Clients.DOB, Documents.EffectiveDate) as ClientAge        
      ,Documents.EffectiveDate                                    
      ,CDDA.[TypeOfAssessment]    
      ,CDDA.[InitialOrUpdate]    
      ,CDDA.[ReasonForUpdate]    
      ,CDDA.[UpdatePsychoSocial]    
      ,CDDA.[UpdateSubstanceUse]    
      ,CDDA.[UpdateRiskIndicators]    
      ,CDDA.[UpdatePhysicalHealth]    
      ,CDDA.[UpdateEducationHistory]    
      ,CDDA.[UpdateDevelopmentalHistory]    
      ,CDDA.[UpdateSleepHygiene]    
      ,CDDA.[UpdateFamilyHistory]    
      ,CDDA.[UpdateHousing]    
      ,CDDA.[UpdateVocational]    
      ,CDDA.[TransferReceivingStaff]    
      ,CDDA.[TransferReceivingProgram]    
      ,CDDA.[TransferAssessedNeed]    
      ,CDDA.[TransferClientParticipated]    
      ,CDDA.[PresentingProblem]    
      ,CDDA.[OptionsAlreadyTried]    
      ,CDDA.[ClientHasLegalGuardian]    
      ,CDDA.[LegalGuardianInfo]    
      ,CDDA.[AbilitiesInterestsSkills]    
      ,CDDA.[FamilyHistory]    
      ,CDDA.[EthnicityCulturalBackground]    
      ,CDDA.[SexualOrientationGenderExpression]    
      ,CDDA.[GenderExpressionConsistent]    
      ,CDDA.[SupportSystems]    
      ,CDDA.[ClientStrengths]    
      ,CDDA.[LivingSituation]    
      ,CDDA.[IncludeHousingAssessment]    
      ,CDDA.[ClientEmploymentNotApplicable]    
      ,CDDA.[ClientEmploymentMilitaryHistory]    
      ,CDDA.[IncludeVocationalAssessment]    
      ,dbo.csf_GetGlobalCodeNameById(CDDA.[HighestEducationCompleted]) as HighestEducationCompleted  
      ,CDDA.[EducationComment]    
      ,CDDA.[LiteracyConcerns]    
      ,CDDA.[LegalInvolvement]    
      ,CDDA.[LegalInvolvementComment]    
      ,CDDA.[HistoryEmotionalProblemsClient]    
      ,CDDA.[ClientHasReceivedTreatment]    
      ,CDDA.[ClientPriorTreatmentDiagnosis]    
      ,CDDA.[PriorTreatmentCounseling]    
      ,CDDA.[PriorTreatmentCounselingDates]    
      ,CDDA.[PriorTreatmentCounselingComment]    
      ,CDDA.[PriorTreatmentCaseManagement]    
      ,CDDA.[PriorTreatmentCaseManagementDates]    
      ,CDDA.[PriorTreatmentCaseManagementComment]    
      ,CDDA.[PriorTreatmentOther]    
      ,CDDA.[PriorTreatmentOtherDates]    
      ,CDDA.[PriorTreatmentOtherComment]    
      ,CDDA.[PriorTreatmentMedication]    
      ,CDDA.[PriorTreatmentMedicationDates]    
      ,CDDA.[PriorTreatmentMedicationComment]    
      ,CDDA.[TypesOfMedicationResults]    
      ,CDDA.[ClientResponsePastTreatment]    
      ,CDDA.[ClientResponsePastTreatmentNA]    
      ,CDDA.[AbuseNotApplicable]    
      ,CDDA.[AbuseEmotionalVictim]    
      ,CDDA.[AbuseEmotionalOffender]    
      ,CDDA.[AbuseVerbalVictim]    
      ,CDDA.[AbuseVerbalOffender]    
      ,CDDA.[AbusePhysicalVictim]    
      ,CDDA.[AbusePhysicalOffender]    
      ,CDDA.[AbuseSexualVictim]    
      ,CDDA.[AbuseSexualOffender]    
      ,CDDA.[AbuseNeglectVictim]    
      ,CDDA.[AbuseNeglectOffender]    
      ,CDDA.[AbuseComment]    
      ,CDDA.[FamilyPersonalHistoryLossTrauma]    
      ,CDDA.[BiologicalMotherUseNoneReported]    
      ,CDDA.[BiologicalMotherUseAlcohol]    
      ,CDDA.[BiologicalMotherTobacco]    
      ,CDDA.[BiologicalMotherUseOther]    
      ,CDDA.[BiologicalMotherUseOtherType]    
      ,CDDA.[ClientReportAlcoholTobaccoDrugUse]    
      ,CDDA.[ClientReportDrugUseComment]    
      ,CDDA.[FurtherSubstanceAssessmentIndicated]    
      ,CDDA.[ClientHasHistorySubstanceUse]    
      ,CDDA.[ClientHistorySubstanceUseComment]    
      ,CDDA.[AlcoholUseWithin30Days]    
      ,dbo.csf_GetGlobalCodeNameById(CDDA.[AlcoholUseCurrentFrequency]) as AlcoholUseCurrentFrequency  
      ,CDDA.[AlcoholUseWithinLifetime]    
      ,dbo.csf_GetGlobalCodeNameById(CDDA.[AlcoholUsePastFrequency]) as AlcoholUsePastFrequency  
      ,CDDA.[AlcoholUseReceivedTreatment]    
      ,CDDA.[CocaineUseWithin30Days]   
      ,dbo.csf_GetGlobalCodeNameById(CDDA.[CocaineUseCurrentFrequency]) as CocaineUseCurrentFrequency   
      ,CDDA.[CocaineUseWithinLifetime]   
      ,dbo.csf_GetGlobalCodeNameById(CDDA.[CocaineUsePastFrequency]) as CocaineUsePastFrequency   
      ,CDDA.[CocaineUseReceivedTreatment]    
      ,CDDA.[SedtativeUseWithin30Days]   
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[SedtativeUseCurrentFrequency]) as SedtativeUseCurrentFrequency   
      ,CDDA.[SedtativeUseWithinLifetime]   
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[SedtativeUsePastFrequency]) as SedtativeUsePastFrequency    
      ,CDDA.[SedtativeUseReceivedTreatment]    
      ,CDDA.[HallucinogenUseWithin30Days]    
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[HallucinogenUseCurrentFrequency]) as HallucinogenUseCurrentFrequency   
      ,CDDA.[HallucinogenUseWithinLifetime]   
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[HallucinogenUsePastFrequency]) as HallucinogenUsePastFrequency    
      ,CDDA.[HallucinogenUseReceivedTreatment]    
      ,CDDA.[StimulantUseWithin30Days]   
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[StimulantUseCurrentFrequency]) as StimulantUseCurrentFrequency    
      ,CDDA.[StimulantUseWithinLifetime]   
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[StimulantUsePastFrequency]) as StimulantUsePastFrequency    
      ,CDDA.[StimulantUseReceivedTreatment]    
      ,CDDA.[NarcoticUseWithin30Days]    
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[NarcoticUseCurrentFrequency]) as NarcoticUseCurrentFrequency   
      ,CDDA.[NarcoticUseWithinLifetime]   
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[NarcoticUsePastFrequency]) as NarcoticUsePastFrequency    
      ,CDDA.[NarcoticUseReceivedTreatment]   
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[MarijuanaUseCurrentFrequency]) as MarijuanaUseCurrentFrequency    
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[MarijuanaUsePastFrequency]) as MarijuanaUsePastFrequency   
      ,CDDA.[MarijuanaUseWithin30Days]    
      ,CDDA.[MarijuanaUseWithinLifetime]    
      ,CDDA.[MarijuanaUseReceivedTreatment]    
      ,CDDA.[InhalantsUseWithin30Days]    
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[InhalantsUseCurrentFrequency]) as InhalantsUseCurrentFrequency   
      ,CDDA.[InhalantsUseWithinLifetime]    
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[InhalantsUsePastFrequency]) as InhalantsUsePastFrequency   
      ,CDDA.[InhalantsUseReceivedTreatment]    
      ,CDDA.[OtherUseWithin30Days]    
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[OtherUseCurrentFrequency]) as OtherUseCurrentFrequency   
      ,CDDA.[OtherUseWithinLifetime]    
       ,dbo.csf_GetGlobalCodeNameById(CDDA.[OtherUsePastFrequency]) as OtherUsePastFrequency   
      ,CDDA.[OtherUseReceivedTreatment]    
      ,CDDA.[OtherUseType]    
      ,CDDA.[DASTScore]    
      ,CDDA.[MASTScore]    
      ,CDDA.[ClientReferredSubstanceTreatment]    
      ,CDDA.[ClientReferredSubstanceTreatmentWhere]    
      ,CDDA.[RiskSuicideIdeation]    
      ,CDDA.[RiskSuicideIdeationComment]    
      ,CDDA.[RiskSuicideIntent]    
      ,CDDA.[RiskSuicideIntentComment]    
      ,CDDA.[RiskSuicidePriorAttempts]    
      ,CDDA.[RiskSuicidePriorAttemptsComment]    
      ,CDDA.[RiskPriorHospitalization]    
      ,CDDA.[RiskPriorHospitalizationComment]    
      ,CDDA.[RiskPhysicalAggressionSelf]    
      ,CDDA.[RiskPhysicalAggressionSelfComment]    
      ,CDDA.[RiskVerbalAggressionOthers]    
      ,CDDA.[RiskVerbalAggressionOthersComment]    
      ,CDDA.[RiskPhysicalAggressionObjects]    
      ,CDDA.[RiskPhysicalAggressionObjectsComment]    
      ,CDDA.[RiskPhysicalAggressionPeople]    
      ,CDDA.[RiskPhysicalAggressionPeopleComment]    
      ,CDDA.[RiskReportRiskTaking]    
      ,CDDA.[RiskReportRiskTakingComment]    
      ,CDDA.[RiskThreatClientPersonalSafety]    
      ,CDDA.[RiskThreatClientPersonalSafetyComment]    
      ,CDDA.[RiskPhoneNumbersProvided]    
      ,CDDA.[RiskCurrentRiskIdentified]    
      ,CDDA.[RiskTriggersDangerousBehaviors]    
      ,CDDA.[RiskCopingSkills]    
      ,CDDA.[RiskInterventionsPersonalSafetyNA]    
      ,CDDA.[RiskInterventionsPersonalSafety]    
      ,CDDA.[RiskInterventionsPublicSafetyNA]    
      ,CDDA.[RiskInterventionsPublicSafety]    
      ,CDDA.[PhysicalProblemsNoneReported]    
      ,CDDA.[PhysicalProblemsComment]    
      ,CDDA.[SpecialNeedsNoneReported]    
      ,CDDA.[SpecialNeedsVisualImpairment]    
      ,CDDA.[SpecialNeedsHearingImpairment]    
      ,CDDA.[SpecialNeedsSpeechImpairment]    
      ,CDDA.[SpecialNeedsOtherPhysicalImpairment]    
      ,CDDA.[SpecialNeedsOtherPhysicalImpairmentComment]    
      ,CDDA.[EducationSchoolName]    
      ,CDDA.[EducationPreviousExpulsions]    
      ,CDDA.[EducationClassification]    
      ,CDDA.[EducationEmotionalDisturbance]    
      ,CDDA.[EducationPreschoolersDisability]    
      ,CDDA.[EducationTraumaticBrainInjury]    
      ,CDDA.[EducationCognitiveDisability]    
      ,CDDA.[EducationCurrent504]    
      ,CDDA.[EducationOtherMajorHealthImpaired]    
      ,CDDA.[EducationSpecificLearningDisability]    
      ,CDDA.[EducationAutism]    
      ,CDDA.[EducationOtherMinorHealthImpaired]    
      ,CDDA.[EdcuationClassificationComment]    
      ,CDDA.[EducationPreviousRetentions]    
      ,CDDA.[EducationClientIsHomeSchooled]    
      ,CDDA.[EducationClientAttendedPreschool]    
      ,CDDA.[EducationFrequencyOfAttendance]    
      ,CDDA.[EducationReceivedServicesAsToddler]    
      ,CDDA.[EducationReceivedServicesAsToddlerComment]    
      ,CDDA.[ClientPreferencesForTreatment]    
      ,CDDA.[ExternalSupportsReferrals]    
      ,CDDA.[PrimaryClinicianTransfer]    
      ,CDDA.[EAPMentalStatus]    
      ,CDDA.[DiagnosticImpressionsSummary]    
      ,CDDA.[MilestoneUnderstandingLanguage]    
      ,CDDA.[MilestoneVocabulary]    
      ,CDDA.[MilestoneFineMotor]    
      ,CDDA.[MilestoneGrossMotor]    
      ,CDDA.[MilestoneIntellectual]    
      ,CDDA.[MilestoneMakingFriends]    
      ,CDDA.[MilestoneSharingInterests]    
      ,CDDA.[MilestoneEyeContact]    
      ,CDDA.[MilestoneToiletTraining]    
      ,CDDA.[MilestoneCopingSkills]    
      ,CDDA.[MilestoneComment]    
      ,CDDA.[SleepConcernSleepHabits]    
      ,CDDA.[SleepTimeGoToBed]    
      ,CDDA.[SleepTimeFallAsleep]    
      ,CDDA.[SleepThroughNight]    
      ,CDDA.[SleepNightmares]    
      ,CDDA.[SleepNightmaresHowOften]    
      ,CDDA.[SleepTerrors]    
      ,CDDA.[SleepTerrorsHowOften]    
      ,CDDA.[SleepWalking]    
      ,CDDA.[SleepWalkingHowOften]    
      ,CDDA.[SleepTimeWakeUp]    
      ,CDDA.[SleepShareRoom]    
      ,CDDA.[SleepShareRoomWithWhom]    
      ,CDDA.[SleepTakeNaps]    
      ,CDDA.[SleepTakeNapsHowOften]    
      ,CDDA.[FamilyPrimaryCaregiver]    
      ,CDDA.[FamilyPrimaryCaregiverType]    
      ,CDDA.[FamilyPrimaryCaregiverEducation]    
      ,CDDA.[FamilyPrimaryCaregiverAge]    
      ,CDDA.[FamilyAdditionalCareGivers]          ,dbo.csf_GetGlobalCodeNameById(CDDA.[FamilyEmploymentFirstCareGiver]) as FamilyEmploymentFirstCareGiver   
      ,dbo.csf_GetGlobalCodeNameById(CDDA.[FamilyEmploymentSecondCareGiver]) as FamilyEmploymentSecondCareGiver   
      ,CDDA.[FamilyStatusParentsRelationship]    
      ,CDDA.[FamilyNonCustodialContact]    
      ,CDDA.[FamilyNonCustodialHowOften]    
      ,CDDA.[FamilyNonCustodialTypeOfVisit]    
      ,CDDA.[FamilyNonCustodialConsistency]    
      ,CDDA.[FamilyNonCustodialLegalInvolvement]    
      ,CDDA.[FamilyClientMovedResidences]    
      ,CDDA.[FamilyClientMovedResidencesComment]    
      ,CDDA.[FamilyClientHasSiblings]    
      ,CDDA.[FamilyClientSiblingsComment]    
      ,CDDA.[FamilyQualityRelationships]    
      ,CDDA.[FamilySupportSystems]    
      ,CDDA.[FamilyClientAbilitiesNA]    
      ,CDDA.[FamilyClientAbilitiesComment]    
      ,CDDA.[ChildHistoryLegalInvolvement]    
      ,CDDA.[ChildHistoryLegalInvolvementComment]    
      ,CDDA.[ChildHistoryBehaviorInFamily]    
      ,CDDA.[ChildHistoryBehaviorInFamilyComment]    
      ,CDDA.[ChildAbuseReported]    
      ,CDDA.[ChildProtectiveServicesInvolved]    
      ,CDDA.[ChildProtectiveServicesReason]    
      ,CDDA.[ChildProtectiveServicesCounty]    
      ,CDDA.[ChildProtectiveServicesCaseWorker]    
      ,CDDA.[ChildProtectiveServicesDates]    
      ,CDDA.[ChildProtectiveServicesPlacements]    
      ,CDDA.[ChildProtectiveServicesPlacementsComment]    
      ,CDDA.[ChildHistoryOfViolence]    
      ,CDDA.[ChildHistoryOfViolenceComment]    
      ,CDDA.[ChildCTESComplete]    
      ,CDDA.[ChildCTESResults]    
      ,CDDA.[ChildWitnessedSubstances]    
      ,CDDA.[ChildWitnessedSubstancesComment]    
      ,CDDA.[ChildBornFullTermPreTerm]    
      ,CDDA.[ChildBornFullTermPreTermComment]    
      ,CDDA.[ChildPostPartumDepression]    
      ,CDDA.[ChildMotherUsedDrugsPregnancy]    
      ,CDDA.[ChildMotherUsedDrugsPregnancyComment]    
      ,CDDA.[ChildConcernsNutrition]    
      ,CDDA.[ChildConcernsNutritionComment]    
      ,CDDA.[ChildConcernsAbilityUnderstand]    
      ,CDDA.[ChildUsingWordsPhrases]    
      ,CDDA.[ChildReceivedSpeechEval]    
      ,CDDA.[ChildReceivedSpeechEvalComment]    
      ,CDDA.[ChildConcernMotorSkills]    
      ,CDDA.[ChildGrossMotorSkillsProblem]    
      ,CDDA.[ChildWalking14Months]    
      ,CDDA.[ChildFineMotorSkillsProblem]    
      ,CDDA.[ChildPickUpCheerios]    
      ,CDDA.[ChildConcernSocialSkills]    
      ,CDDA.[ChildConcernSocialSkillsComment]    
      ,CDDA.[ChildToiletTraining]    
      ,CDDA.[ChildToiletTrainingComment]    
      ,CDDA.[ChildSensoryAversions]    
      ,CDDA.[ChildSensoryAversionsComment]    
      ,CDDA.[HousingHowStable]    
      ,CDDA.[HousingAbleToStay]    
      ,CDDA.[HousingEvictionsUnpaidUtilities]    
      ,CDDA.[HousingAbleGetUtilities]    
      ,CDDA.[HousingAbleSignLease]    
      ,CDDA.[HousingSpecializedProgram]    
      ,CDDA.[HousingHasPets]    
      ,CDDA.[VocationalUnemployed]    
      ,CDDA.[VocationalInterestedWorking]    
      ,CDDA.[VocationalInterestedWorkingComment]    
      ,CDDA.[VocationalTimeSinceEmployed]    
      ,CDDA.[VocationalTimeJobHeld]    
      ,CDDA.[VocationalBarriersGainingEmployment]    
      ,CDDA.[VocationalEmployed]    
      ,CDDA.[VocationalTimeCurrentJob]    
      ,CDDA.[VocationalBarriersMaintainingEmployment]    
      ,dbo.csf_GetGlobalCodeNameById(CDDA.[LevelofCare]) as LevelofCare     
          
                                   
                               
INTO  #CustomDocumentDiagnosticAssessments                                
From Documents                  
join DocumentVersions  on Documents.DocumentId = DocumentVersions.DocumentId               
Left Join CustomDocumentDiagnosticAssessments as CDDA on CDDA.DocumentVersionId = DocumentVersions.DocumentVersionId             
            
Join Clients on Clients.ClientId = Documents.ClientId                                  
                                
Where CDDA.DocumentVersionId =@DocumentVersionId           
and ISNULL(Documents.RecordDeleted,''N'')=''N''                
and ISNULL(DocumentVersions.RecordDeleted,''N'')=''N''                             
and ISNULL(CDDA.RecordDeleted,''N'')=''N''                               
and ISNULL(Clients.RecordDeleted,''N'')=''N''         
    
    
    
    
--CustomDocumentMentalStatuses    
   Select [DocumentVersionId]       
      ,CDMS.[ConsciousnessNA]    
      ,CDMS.[ConsciousnessAlert]    
      ,CDMS.[ConsciousnessObtunded]    
      ,CDMS.[ConsciousnessSomnolent]    
      ,CDMS.[ConsciousnessOrientedX3]    
      ,CDMS.[ConsciousnessAppearsUnderInfluence]    
      ,CDMS.[ConsciousnessComment]    
      ,CDMS.[EyeContactNA]    
      ,CDMS.[EyeContactAppropriate]    
      ,CDMS.[EyeContactStaring]    
      ,CDMS.[EyeContactAvoidant]    
      ,CDMS.[EyeContactComment]    
      ,CDMS.[AppearanceNA]    
      ,CDMS.[AppearanceClean]    
      ,CDMS.[AppearanceNeatlyDressed]    
      ,CDMS.[AppearanceAppropriate]    
      ,CDMS.[AppearanceDisheveled]    
      ,CDMS.[AppearanceMalodorous]    
      ,CDMS.[AppearanceUnusual]    
      ,CDMS.[AppearancePoorlyGroomed]    
      ,CDMS.[AppearanceComment]    
      ,CDMS.[AgeNA]    
      ,CDMS.[AgeAppropriate]    
      ,CDMS.[AgeOlder]    
      ,CDMS.[AgeYounger]    
      ,CDMS.[AgeComment]    
      ,CDMS.[BehaviorNA]    
      ,CDMS.[BehaviorPleasant]    
      ,CDMS.[BehaviorGuarded]    
      ,CDMS.[BehaviorAgitated]    
      ,CDMS.[BehaviorImpulsive]    
      ,CDMS.[BehaviorWithdrawn]    
      ,CDMS.[BehaviorUncooperative]    
      ,CDMS.[BehaviorAggressive]    
      ,CDMS.[BehaviorComment]    
      ,CDMS.[PsychomotorNA]    
      ,CDMS.[PsychomotorNoAbnormalMovements]    
      ,CDMS.[PsychomotorAgitation]    
      ,CDMS.[PsychomotorAbnormalMovements]    
      ,CDMS.[PsychomotorRetardation]    
      ,CDMS.[PsychomotorComment]    
      ,CDMS.[MoodNA]    
      ,CDMS.[MoodEuthymic]    
      ,CDMS.[MoodDysphoric]    
      ,CDMS.[MoodIrritable]    
      ,CDMS.[MoodDepressed]    
      ,CDMS.[MoodExpansive]    
      ,CDMS.[MoodAnxious]    
      ,CDMS.[MoodElevated]    
      ,CDMS.[MoodComment]    
      ,CDMS.[ThoughtContentNA]    
      ,CDMS.[ThoughtContentWithinLimits]    
      ,CDMS.[ThoughtContentExcessiveWorries]        ,CDMS.[ThoughtContentOvervaluedIdeas]    
      ,CDMS.[ThoughtContentRuminations]    
      ,CDMS.[ThoughtContentPhobias]    
      ,CDMS.[ThoughtContentComment]    
      ,CDMS.[DelusionsNA]    
      ,CDMS.[DelusionsNone]    
      ,CDMS.[DelusionsBizarre]    
      ,CDMS.[DelusionsReligious]    
      ,CDMS.[DelusionsGrandiose]    
      ,CDMS.[DelusionsParanoid]    
      ,CDMS.[DelusionsComment]    
      ,CDMS.[ThoughtProcessNA]    
      ,CDMS.[ThoughtProcessLogical]    
      ,CDMS.[ThoughtProcessCircumferential]    
      ,CDMS.[ThoughtProcessFlightIdeas]    
      ,CDMS.[ThoughtProcessIllogical]    
      ,CDMS.[ThoughtProcessDerailment]    
      ,CDMS.[ThoughtProcessTangential]    
      ,CDMS.[ThoughtProcessSomatic]    
      ,CDMS.[ThoughtProcessCircumstantial]    
      ,CDMS.[ThoughtProcessComment]    
      ,CDMS.[HallucinationsNA]    
      ,CDMS.[HallucinationsNone]    
      ,CDMS.[HallucinationsAuditory]    
      ,CDMS.[HallucinationsVisual]    
      ,CDMS.[HallucinationsTactile]    
      ,CDMS.[HallucinationsOlfactory]    
      ,CDMS.[HallucinationsComment]    
      ,CDMS.[IntellectNA]    
      ,CDMS.[IntellectAverage]    
      ,CDMS.[IntellectAboveAverage]    
      ,CDMS.[IntellectBelowAverage]    
      ,CDMS.[IntellectComment]    
      ,CDMS.[SpeechNA]    
      ,CDMS.[SpeechRate]    
      ,CDMS.[SpeechTone]    
      ,CDMS.[SpeechVolume]    
      ,CDMS.[SpeechArticulation]    
      ,CDMS.[SpeechComment]    
      ,CDMS.[AffectNA]    
      ,CDMS.[AffectCongruent]    
      ,CDMS.[AffectReactive]    
      ,CDMS.[AffectIncongruent]    
      ,CDMS.[AffectLabile]    
      ,CDMS.[AffectComment]    
      ,CDMS.[RangeNA]    
      ,CDMS.[RangeBroad]    
      ,CDMS.[RangeBlunted]    
      ,CDMS.[RangeFlat]    
      ,CDMS.[RangeFull]    
      ,CDMS.[RangeConstricted]    
      ,CDMS.[RangeComment]    
      ,CDMS.[InsightNA]    
      ,CDMS.[InsightExcellent]    
      ,CDMS.[InsightGood]    
      ,CDMS.[InsightFair]    
      ,CDMS.[InsightPoor]    
      ,CDMS.[InsightImpaired]    
      ,CDMS.[InsightUnknown]    
      ,CDMS.[InsightComment]    
      ,CDMS.[JudgmentNA]    
      ,CDMS.[JudgmentExcellent]    
      ,CDMS.[JudgmentGood]    
      ,CDMS.[JudgmentFair]    
      ,CDMS.[JudgmentPoor]    
      ,CDMS.[JudgmentImpaired]    
      ,CDMS.[JudgmentUnknown]    
      ,CDMS.[JudgmentComment]    
      ,CDMS.[MemoryNA]    
      ,CDMS.[MemoryShortTerm]    
      ,CDMS.[MemoryLongTerm]    
      ,CDMS.[MemoryAttention]    
      ,CDMS.[MemoryComment]    
      ,CDMS.[BodyHabitusNA]    
      ,CDMS.[BodyHabitusAverage]    
      ,CDMS.[BodyHabitusThin]    
      ,CDMS.[BodyHabitusUnderweight]    
      ,CDMS.[BodyHabitusOverweight]    
      ,CDMS.[BodyHabitusObese]    
      ,CDMS.[BodyHabitusComment]    
    
  into #CustomDocumentMentalStatuses                            
  FROM CustomDocumentMentalStatuses as CDMS                                                                  
  WHERE CDMS.DocumentVersionId = @DocumentVersionId and ISNULL(RecordDeleted, ''N'') = ''N''         
    
    
    
                          
                                      
SELECT CDDA.DocumentVersionId                              
   ,ClientName         
   ,ClientId  
   ,ClientAge        
   ,OrganizationName                              
   ,EffectiveDate                                  
      ,CDDA.[TypeOfAssessment]    
      ,CDDA.[InitialOrUpdate]    
      ,CDDA.[ReasonForUpdate]    
      ,CDDA.[UpdatePsychoSocial]    
      ,CDDA.[UpdateSubstanceUse]    
      ,CDDA.[UpdateRiskIndicators]    
      ,CDDA.[UpdatePhysicalHealth]    
      ,CDDA.[UpdateEducationHistory]    
      ,CDDA.[UpdateDevelopmentalHistory]    
      ,CDDA.[UpdateSleepHygiene]    
      ,CDDA.[UpdateFamilyHistory]    
      ,CDDA.[UpdateHousing]    
      ,CDDA.[UpdateVocational]    
      ,CDDA.[TransferReceivingStaff]    
      ,CDDA.[TransferReceivingProgram]    
      ,CDDA.[TransferAssessedNeed]    
      ,CDDA.[TransferClientParticipated]    
      ,CDDA.[PresentingProblem]    
      ,CDDA.[OptionsAlreadyTried]    
      ,CDDA.[ClientHasLegalGuardian]    
      ,CDDA.[LegalGuardianInfo]    
      ,CDDA.[AbilitiesInterestsSkills]    
      ,CDDA.[FamilyHistory]    
      ,CDDA.[EthnicityCulturalBackground]    
      ,CDDA.[SexualOrientationGenderExpression]    
      ,CDDA.[GenderExpressionConsistent]    
      ,CDDA.[SupportSystems]    
      ,CDDA.[ClientStrengths]    
      ,CDDA.[LivingSituation]    
      ,CDDA.[IncludeHousingAssessment]    
      ,CDDA.[ClientEmploymentNotApplicable]    
      ,CDDA.[ClientEmploymentMilitaryHistory]    
      ,CDDA.[IncludeVocationalAssessment]    
      ,CDDA.[HighestEducationCompleted]    
      ,CDDA.[EducationComment]    
      ,CDDA.[LiteracyConcerns]    
      ,CDDA.[LegalInvolvement]    
      ,CDDA.[LegalInvolvementComment]    
      ,CDDA.[HistoryEmotionalProblemsClient]    
      ,CDDA.[ClientHasReceivedTreatment]    
      ,CDDA.[ClientPriorTreatmentDiagnosis]    
      ,CDDA.[PriorTreatmentCounseling]    
      ,CDDA.[PriorTreatmentCounselingDates]    
      ,CDDA.[PriorTreatmentCounselingComment]    
      ,CDDA.[PriorTreatmentCaseManagement]    
      ,CDDA.[PriorTreatmentCaseManagementDates]    
      ,CDDA.[PriorTreatmentCaseManagementComment]    
      ,CDDA.[PriorTreatmentOther]    
      ,CDDA.[PriorTreatmentOtherDates]    
      ,CDDA.[PriorTreatmentOtherComment]    
      ,CDDA.[PriorTreatmentMedication]    
      ,CDDA.[PriorTreatmentMedicationDates]    
      ,CDDA.[PriorTreatmentMedicationComment]    
      ,CDDA.[TypesOfMedicationResults]    
      ,CDDA.[ClientResponsePastTreatment]    
      ,CDDA.[ClientResponsePastTreatmentNA]    
      ,CDDA.[AbuseNotApplicable]    
      ,CDDA.[AbuseEmotionalVictim]    
      ,CDDA.[AbuseEmotionalOffender]    
      ,CDDA.[AbuseVerbalVictim]    
      ,CDDA.[AbuseVerbalOffender]    
      ,CDDA.[AbusePhysicalVictim]    
      ,CDDA.[AbusePhysicalOffender]    
      ,CDDA.[AbuseSexualVictim]    
      ,CDDA.[AbuseSexualOffender]    
      ,CDDA.[AbuseNeglectVictim]    
      ,CDDA.[AbuseNeglectOffender]    
      ,CDDA.[AbuseComment]    
      ,CDDA.[FamilyPersonalHistoryLossTrauma]    
      ,CDDA.[BiologicalMotherUseNoneReported]    
      ,CDDA.[BiologicalMotherUseAlcohol]    
      ,CDDA.[BiologicalMotherTobacco]    
      ,CDDA.[BiologicalMotherUseOther]    
      ,CDDA.[BiologicalMotherUseOtherType]    
      ,CDDA.[ClientReportAlcoholTobaccoDrugUse]    
      ,CDDA.[ClientReportDrugUseComment]    
      ,CDDA.[FurtherSubstanceAssessmentIndicated]    
      ,CDDA.[ClientHasHistorySubstanceUse]    
      ,CDDA.[ClientHistorySubstanceUseComment]    
      ,CDDA.[AlcoholUseWithin30Days]    
      ,CDDA.[AlcoholUseCurrentFrequency]    
      ,CDDA.[AlcoholUseWithinLifetime]    
      ,CDDA.[AlcoholUsePastFrequency]    
      ,CDDA.[AlcoholUseReceivedTreatment]    
      ,CDDA.[CocaineUseWithin30Days]    
      ,CDDA.[CocaineUseCurrentFrequency]    
      ,CDDA.[CocaineUseWithinLifetime]    
      ,CDDA.[CocaineUsePastFrequency]    
      ,CDDA.[CocaineUseReceivedTreatment]    
      ,CDDA.[SedtativeUseWithin30Days]    
      ,CDDA.[SedtativeUseCurrentFrequency]    
      ,CDDA.[SedtativeUseWithinLifetime]    
      ,CDDA.[SedtativeUsePastFrequency]    
      ,CDDA.[SedtativeUseReceivedTreatment]    
      ,CDDA.[HallucinogenUseWithin30Days]    
      ,CDDA.[HallucinogenUseCurrentFrequency]    
      ,CDDA.[HallucinogenUseWithinLifetime]    
      ,CDDA.[HallucinogenUsePastFrequency]    
      ,CDDA.[HallucinogenUseReceivedTreatment]    
      ,CDDA.[StimulantUseWithin30Days]    
      ,CDDA.[StimulantUseCurrentFrequency]    
      ,CDDA.[StimulantUseWithinLifetime]    
      ,CDDA.[StimulantUsePastFrequency]    
      ,CDDA.[StimulantUseReceivedTreatment]    
      ,CDDA.[NarcoticUseWithin30Days]    
      ,CDDA.[NarcoticUseCurrentFrequency]    
      ,CDDA.[NarcoticUseWithinLifetime]    
      ,CDDA.[NarcoticUsePastFrequency]    
      ,CDDA.[NarcoticUseReceivedTreatment]    
      ,CDDA.[MarijuanaUseCurrentFrequency]    
      ,CDDA.[MarijuanaUsePastFrequency]    
      ,CDDA.[MarijuanaUseWithin30Days]    
      ,CDDA.[MarijuanaUseWithinLifetime]    
      ,CDDA.[MarijuanaUseReceivedTreatment]    
      ,CDDA.[InhalantsUseWithin30Days]    
      ,CDDA.[InhalantsUseCurrentFrequency]    
      ,CDDA.[InhalantsUseWithinLifetime]    
      ,CDDA.[InhalantsUsePastFrequency]    
      ,CDDA.[InhalantsUseReceivedTreatment]    
      ,CDDA.[OtherUseWithin30Days]    
      ,CDDA.[OtherUseCurrentFrequency]    
      ,CDDA.[OtherUseWithinLifetime]    
      ,CDDA.[OtherUsePastFrequency]    
      ,CDDA.[OtherUseReceivedTreatment]    
      ,CDDA.[OtherUseType]    
      ,CDDA.[DASTScore]    
      ,CDDA.[MASTScore]    
      ,CDDA.[ClientReferredSubstanceTreatment]    
      ,CDDA.[ClientReferredSubstanceTreatmentWhere]    
      ,CDDA.[RiskSuicideIdeation]    
      ,CDDA.[RiskSuicideIdeationComment]    
      ,CDDA.[RiskSuicideIntent]    
      ,CDDA.[RiskSuicideIntentComment]    
      ,CDDA.[RiskSuicidePriorAttempts]    
      ,CDDA.[RiskSuicidePriorAttemptsComment]    
      ,CDDA.[RiskPriorHospitalization]    
      ,CDDA.[RiskPriorHospitalizationComment]    
      ,CDDA.[RiskPhysicalAggressionSelf]    
      ,CDDA.[RiskPhysicalAggressionSelfComment]    
      ,CDDA.[RiskVerbalAggressionOthers]    
      ,CDDA.[RiskVerbalAggressionOthersComment]    
      ,CDDA.[RiskPhysicalAggressionObjects]    
      ,CDDA.[RiskPhysicalAggressionObjectsComment]    
      ,CDDA.[RiskPhysicalAggressionPeople]    
      ,CDDA.[RiskPhysicalAggressionPeopleComment]    
      ,CDDA.[RiskReportRiskTaking]    
      ,CDDA.[RiskReportRiskTakingComment]    
      ,CDDA.[RiskThreatClientPersonalSafety]    
      ,CDDA.[RiskThreatClientPersonalSafetyComment]    
      ,CDDA.[RiskPhoneNumbersProvided]    
      ,CDDA.[RiskCurrentRiskIdentified]    
      ,CDDA.[RiskTriggersDangerousBehaviors]    
      ,CDDA.[RiskCopingSkills]    
      ,CDDA.[RiskInterventionsPersonalSafetyNA]    
      ,CDDA.[RiskInterventionsPersonalSafety]    
      ,CDDA.[RiskInterventionsPublicSafetyNA]    
      ,CDDA.[RiskInterventionsPublicSafety]    
      ,CDDA.[PhysicalProblemsNoneReported]    
      ,CDDA.[PhysicalProblemsComment]    
      ,CDDA.[SpecialNeedsNoneReported]    
      ,CDDA.[SpecialNeedsVisualImpairment]    
      ,CDDA.[SpecialNeedsHearingImpairment]    
      ,CDDA.[SpecialNeedsSpeechImpairment]    
      ,CDDA.[SpecialNeedsOtherPhysicalImpairment]    
      ,CDDA.[SpecialNeedsOtherPhysicalImpairmentComment]    
      ,CDDA.[EducationSchoolName]    
      ,CDDA.[EducationPreviousExpulsions]    
      ,CDDA.[EducationClassification]    
      ,CDDA.[EducationEmotionalDisturbance]    
      ,CDDA.[EducationPreschoolersDisability]    
      ,CDDA.[EducationTraumaticBrainInjury]    
      ,CDDA.[EducationCognitiveDisability]    
      ,CDDA.[EducationCurrent504]    
      ,CDDA.[EducationOtherMajorHealthImpaired]    
      ,CDDA.[EducationSpecificLearningDisability]    
      ,CDDA.[EducationAutism]    
      ,CDDA.[EducationOtherMinorHealthImpaired]    
      ,CDDA.[EdcuationClassificationComment]    
      ,CDDA.[EducationPreviousRetentions]    
      ,CDDA.[EducationClientIsHomeSchooled]    
      ,CDDA.[EducationClientAttendedPreschool]    
      ,CDDA.[EducationFrequencyOfAttendance]    
      ,CDDA.[EducationReceivedServicesAsToddler]    
      ,CDDA.[EducationReceivedServicesAsToddlerComment]    
      ,CDDA.[ClientPreferencesForTreatment]    
      ,CDDA.[ExternalSupportsReferrals]    
      ,CDDA.[PrimaryClinicianTransfer]    
      ,CDDA.[EAPMentalStatus]    
      ,CDDA.[DiagnosticImpressionsSummary]    
      ,CDDA.[MilestoneUnderstandingLanguage]    
      ,CDDA.[MilestoneVocabulary]    
      ,CDDA.[MilestoneFineMotor]    
      ,CDDA.[MilestoneGrossMotor]    
      ,CDDA.[MilestoneIntellectual]    
      ,CDDA.[MilestoneMakingFriends]    
      ,CDDA.[MilestoneSharingInterests]    
      ,CDDA.[MilestoneEyeContact]    
      ,CDDA.[MilestoneToiletTraining]    
      ,CDDA.[MilestoneCopingSkills]    
      ,CDDA.[MilestoneComment]    
      ,CDDA.[SleepConcernSleepHabits]    
      ,CDDA.[SleepTimeGoToBed]    
      ,CDDA.[SleepTimeFallAsleep]    
      ,CDDA.[SleepThroughNight]    
      ,CDDA.[SleepNightmares]    
      ,CDDA.[SleepNightmaresHowOften]    
      ,CDDA.[SleepTerrors]    
      ,CDDA.[SleepTerrorsHowOften]    
      ,CDDA.[SleepWalking]    
      ,CDDA.[SleepWalkingHowOften]    
      ,CDDA.[SleepTimeWakeUp]    
      ,CDDA.[SleepShareRoom]    
      ,CDDA.[SleepShareRoomWithWhom]    
      ,CDDA.[SleepTakeNaps]    
      ,CDDA.[SleepTakeNapsHowOften]    
      ,CDDA.[FamilyPrimaryCaregiver]    
      ,CDDA.[FamilyPrimaryCaregiverType]    
      ,CDDA.[FamilyPrimaryCaregiverEducation]    
      ,CDDA.[FamilyPrimaryCaregiverAge]    
      ,CDDA.[FamilyAdditionalCareGivers]    
      ,CDDA.[FamilyEmploymentFirstCareGiver]    
      ,CDDA.[FamilyEmploymentSecondCareGiver]    
      ,CDDA.[FamilyStatusParentsRelationship]    
      ,CDDA.[FamilyNonCustodialContact]    
      ,CDDA.[FamilyNonCustodialHowOften]    
      ,CDDA.[FamilyNonCustodialTypeOfVisit]    
      ,CDDA.[FamilyNonCustodialConsistency]    
      ,CDDA.[FamilyNonCustodialLegalInvolvement]    
      ,CDDA.[FamilyClientMovedResidences]    
      ,CDDA.[FamilyClientMovedResidencesComment]    
      ,CDDA.[FamilyClientHasSiblings]    
      ,CDDA.[FamilyClientSiblingsComment]    
      ,CDDA.[FamilyQualityRelationships]    
      ,CDDA.[FamilySupportSystems]    
      ,CDDA.[FamilyClientAbilitiesNA]    
      ,CDDA.[FamilyClientAbilitiesComment]    
      ,CDDA.[ChildHistoryLegalInvolvement]    
      ,CDDA.[ChildHistoryLegalInvolvementComment]    
      ,CDDA.[ChildHistoryBehaviorInFamily]    
      ,CDDA.[ChildHistoryBehaviorInFamilyComment]    
      ,CDDA.[ChildAbuseReported]    
      ,CDDA.[ChildProtectiveServicesInvolved]    
      ,CDDA.[ChildProtectiveServicesReason]    
      ,CDDA.[ChildProtectiveServicesCounty]    
      ,CDDA.[ChildProtectiveServicesCaseWorker]    
      ,CDDA.[ChildProtectiveServicesDates]    
      ,CDDA.[ChildProtectiveServicesPlacements]    
      ,CDDA.[ChildProtectiveServicesPlacementsComment]    
      ,CDDA.[ChildHistoryOfViolence]    
      ,CDDA.[ChildHistoryOfViolenceComment]    
      ,CDDA.[ChildCTESComplete]    
      ,CDDA.[ChildCTESResults]    
      ,CDDA.[ChildWitnessedSubstances]    
      ,CDDA.[ChildWitnessedSubstancesComment]    
      ,CDDA.[ChildBornFullTermPreTerm]    
      ,CDDA.[ChildBornFullTermPreTermComment]    
      ,CDDA.[ChildPostPartumDepression]    
      ,CDDA.[ChildMotherUsedDrugsPregnancy]    
      ,CDDA.[ChildMotherUsedDrugsPregnancyComment]    
      ,CDDA.[ChildConcernsNutrition]    
      ,CDDA.[ChildConcernsNutritionComment]    
      ,CDDA.[ChildConcernsAbilityUnderstand]    
      ,CDDA.[ChildUsingWordsPhrases]    
      ,CDDA.[ChildReceivedSpeechEval]    
      ,CDDA.[ChildReceivedSpeechEvalComment]    
      ,CDDA.[ChildConcernMotorSkills]    
      ,CDDA.[ChildGrossMotorSkillsProblem]    
      ,CDDA.[ChildWalking14Months]    
      ,CDDA.[ChildFineMotorSkillsProblem]    
      ,CDDA.[ChildPickUpCheerios]    
      ,CDDA.[ChildConcernSocialSkills]    
      ,CDDA.[ChildConcernSocialSkillsComment]    
      ,CDDA.[ChildToiletTraining]    
      ,CDDA.[ChildToiletTrainingComment]    
      ,CDDA.[ChildSensoryAversions]    
      ,CDDA.[ChildSensoryAversionsComment]    
      ,CDDA.[HousingHowStable]    
      ,CDDA.[HousingAbleToStay]    
      ,CDDA.[HousingEvictionsUnpaidUtilities]    
      ,CDDA.[HousingAbleGetUtilities]    
      ,CDDA.[HousingAbleSignLease]    
      ,CDDA.[HousingSpecializedProgram]    
      ,CDDA.[HousingHasPets]    
      ,CDDA.[VocationalUnemployed]    
      ,CDDA.[VocationalInterestedWorking]    
      ,CDDA.[VocationalInterestedWorkingComment]    
      ,CDDA.[VocationalTimeSinceEmployed]    
      ,CDDA.[VocationalTimeJobHeld]    
      ,CDDA.[VocationalBarriersGainingEmployment]    
      ,CDDA.[VocationalEmployed]    
      ,CDDA.[VocationalTimeCurrentJob]    
      ,CDDA.[VocationalBarriersMaintainingEmployment]    
      ,CDDA.[LevelofCare]
      
      ,CDMS.[ConsciousnessNA]    
      ,CDMS.[ConsciousnessAlert]    
      ,CDMS.[ConsciousnessObtunded]    
      ,CDMS.[ConsciousnessSomnolent]    
      ,CDMS.[ConsciousnessOrientedX3]    
      ,CDMS.[ConsciousnessAppearsUnderInfluence]    
      ,CDMS.[ConsciousnessComment]    
      ,CDMS.[EyeContactNA]    
      ,CDMS.[EyeContactAppropriate]    
      ,CDMS.[EyeContactStaring]    
      ,CDMS.[EyeContactAvoidant]    
      ,CDMS.[EyeContactComment]    
      ,CDMS.[AppearanceNA]    
      ,CDMS.[AppearanceClean]    
      ,CDMS.[AppearanceNeatlyDressed]    
      ,CDMS.[AppearanceAppropriate]    
      ,CDMS.[AppearanceDisheveled]    
      ,CDMS.[AppearanceMalodorous]    
      ,CDMS.[AppearanceUnusual]    
      ,CDMS.[AppearancePoorlyGroomed]    
      ,CDMS.[AppearanceComment]    
      ,CDMS.[AgeNA]    
      ,CDMS.[AgeAppropriate]    
      ,CDMS.[AgeOlder]    
      ,CDMS.[AgeYounger]    
      ,CDMS.[AgeComment]    
      ,CDMS.[BehaviorNA]    
      ,CDMS.[BehaviorPleasant]    
      ,CDMS.[BehaviorGuarded]    
      ,CDMS.[BehaviorAgitated]    
      ,CDMS.[BehaviorImpulsive]    
      ,CDMS.[BehaviorWithdrawn]    
      ,CDMS.[BehaviorUncooperative]    
      ,CDMS.[BehaviorAggressive]    
      ,CDMS.[BehaviorComment]    
      ,CDMS.[PsychomotorNA]    
      ,CDMS.[PsychomotorNoAbnormalMovements]    
      ,CDMS.[PsychomotorAgitation]    
      ,CDMS.[PsychomotorAbnormalMovements]    
      ,CDMS.[PsychomotorRetardation]    
      ,CDMS.[PsychomotorComment]    
      ,CDMS.[MoodNA]    
      ,CDMS.[MoodEuthymic]    
      ,CDMS.[MoodDysphoric]    
      ,CDMS.[MoodIrritable]    
      ,CDMS.[MoodDepressed]    
      ,CDMS.[MoodExpansive]    
      ,CDMS.[MoodAnxious]    
      ,CDMS.[MoodElevated]    
      ,CDMS.[MoodComment]    
      ,CDMS.[ThoughtContentNA]    
      ,CDMS.[ThoughtContentWithinLimits]    
      ,CDMS.[ThoughtContentExcessiveWorries]    
      ,CDMS.[ThoughtContentOvervaluedIdeas]    
      ,CDMS.[ThoughtContentRuminations]    
      ,CDMS.[ThoughtContentPhobias]    
      ,CDMS.[ThoughtContentComment]   
      ,CDMS.[DelusionsNA]    
      ,CDMS.[DelusionsNone]    
      ,CDMS.[DelusionsBizarre]    
      ,CDMS.[DelusionsReligious]    
      ,CDMS.[DelusionsGrandiose]    
      ,CDMS.[DelusionsParanoid]    
      ,CDMS.[DelusionsComment]    
      ,CDMS.[ThoughtProcessNA]    
      ,CDMS.[ThoughtProcessLogical]    
      ,CDMS.[ThoughtProcessCircumferential]    
      ,CDMS.[ThoughtProcessFlightIdeas]    
      ,CDMS.[ThoughtProcessIllogical]    
      ,CDMS.[ThoughtProcessDerailment]    
      ,CDMS.[ThoughtProcessTangential]    
      ,CDMS.[ThoughtProcessSomatic]    
      ,CDMS.[ThoughtProcessCircumstantial]    
      ,CDMS.[ThoughtProcessComment]    
      ,CDMS.[HallucinationsNA]    
      ,CDMS.[HallucinationsNone]    
      ,CDMS.[HallucinationsAuditory]    
      ,CDMS.[HallucinationsVisual]    
      ,CDMS.[HallucinationsTactile]    
      ,CDMS.[HallucinationsOlfactory]    
      ,CDMS.[HallucinationsComment]    
      ,CDMS.[IntellectNA]    
      ,CDMS.[IntellectAverage]    
      ,CDMS.[IntellectAboveAverage]    
      ,CDMS.[IntellectBelowAverage]    
      ,CDMS.[IntellectComment]    
      ,CDMS.[SpeechNA]    
      ,CDMS.[SpeechRate]    
      ,CDMS.[SpeechTone]    
      ,CDMS.[SpeechVolume]    
      ,CDMS.[SpeechArticulation]    
      ,CDMS.[SpeechComment]    
      ,CDMS.[AffectNA]    
      ,CDMS.[AffectCongruent]    
      ,CDMS.[AffectReactive]    
      ,CDMS.[AffectIncongruent]    
      ,CDMS.[AffectLabile]    
      ,CDMS.[AffectComment]    
      ,CDMS.[RangeNA]    
      ,CDMS.[RangeBroad]    
      ,CDMS.[RangeBlunted]    
      ,CDMS.[RangeFlat]    
      ,CDMS.[RangeFull]    
      ,CDMS.[RangeConstricted]    
      ,CDMS.[RangeComment]    
      ,CDMS.[InsightNA]    
      ,CDMS.[InsightExcellent]    
      ,CDMS.[InsightGood]    
      ,CDMS.[InsightFair]    
      ,CDMS.[InsightPoor]    
      ,CDMS.[InsightImpaired]    
      ,CDMS.[InsightUnknown]    
      ,CDMS.[InsightComment]    
      ,CDMS.[JudgmentNA]    
      ,CDMS.[JudgmentExcellent]    
      ,CDMS.[JudgmentGood]    
      ,CDMS.[JudgmentFair]    
      ,CDMS.[JudgmentPoor]    
      ,CDMS.[JudgmentImpaired]    
      ,CDMS.[JudgmentUnknown]    
      ,CDMS.[JudgmentComment]    
      ,CDMS.[MemoryNA]    
      ,CDMS.[MemoryShortTerm]    
      ,CDMS.[MemoryLongTerm]    
      ,CDMS.[MemoryAttention]    
      ,CDMS.[MemoryComment]    
      ,CDMS.[BodyHabitusNA]    
      ,CDMS.[BodyHabitusAverage]    
      ,CDMS.[BodyHabitusThin]    
      ,CDMS.[BodyHabitusUnderweight]    
      ,CDMS.[BodyHabitusOverweight]    
      ,CDMS.[BodyHabitusObese]    
      ,CDMS.[BodyHabitusComment]    
          
          
FROM #CustomDocumentDiagnosticAssessments CDDA                          
left join #CustomDocumentMentalStatuses CDMS on CDDA.DocumentVersionId = CDMS.DocumentVersionId                          
                              

drop table #CustomDocumentDiagnosticAssessments                                 
drop table #CustomDocumentMentalStatuses                          


 END                                                                                  
 END TRY                                                                                           
                
                              
                                                                                 
 BEGIN CATCH                                             
   DECLARE @Error varchar(8000)                                                                                                                           
   SET @Error= Convert(varchar,ERROR_NUMBER()) + ''*****'' + Convert(varchar(4000),ERROR_MESSAGE())                                                                                
   + ''*****'' + isnull(Convert(varchar,ERROR_PROCEDURE()),''csp_CustomDocumentDiagnosticAssessments'')               
   + ''*****'' + Convert(varchar,ERROR_LINE()) + ''*****ERROR_SEVERITY='' + Convert(varchar,ERROR_SEVERITY())                                                                                
    
      
        
          
   + ''*****ERROR_STATE='' + Convert(varchar,ERROR_STATE())                                                                                                                      
   RAISERROR (@Error /* Message text*/,  16 /*Severity*/,   1/*State*/   )                               
                                                                                                                          
 END CATCH     
END
' 
END
GO
