/****** Object:  StoredProcedure [dbo].[csp_SCDeleteDocumentCustomHRMAssessmentLevelOfCareOptions]    Script Date: 06/19/2013 17:49:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_SCDeleteDocumentCustomHRMAssessmentLevelOfCareOptions]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[csp_SCDeleteDocumentCustomHRMAssessmentLevelOfCareOptions]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_SCDeleteDocumentCustomHRMAssessmentLevelOfCareOptions]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[csp_SCDeleteDocumentCustomHRMAssessmentLevelOfCareOptions]    
(                                                                                                    
 @DocumentVersionId as int,                                                                                                    
 @DeletedBy as varchar(100)                                                                                                  
)                                                                                                    
AS                                                                                                    
/*********************************************************************/                                                                                                      
/* Stored Procedure: dbo.[csp_SCDeleteDocumentCustomHRMAssessmentLevelOfCareOptions]*/   
/* Creation By:  Ashwani Kumar Angrish        */                                                                                                     
/* Creation Date:    15/02/2010                                    */                                                                                                      
/*                                                                   */                                                                                                      
/* Purpose:   This  procedure is used to delete data from CustomHRMAssessmentLevelOfCareOptions Table */  
   
/*                                                                   */                                                                                                    
/* Input Parameters: @DocumentVersionId,@DeletedBy                   */                                                                                                    
/*                                                                   */                                                                                                      
/* Output Parameters:        */                                                                                                      
/*                                                                   */                                                                                                      
/* Return:                      */                                                                                                      
/*                                                                   */                                                                                                      
/* Called By:                                                        */                                                                                                      
/*                                                                   */                                                                                                      
/* Calls:                                                            */                                                                                                      
/*                                                                   */                                                                                                      
/* Data Modifications:                                               */                                                                                                      
/*                                                                   */                                                                                                      
/* Updates:                                                          */         
/*********************************************************************/                                                                                                       
                                                            
BEGIN                                        
    
 BEGIN TRY      
   
 IF Exists(Select DocumentVersionId from CustomHRMAssessmentLevelOfCareOptions where DocumentVersionId=@DocumentVersionId)                          
 BEGIN  
    update CustomHRMAssessmentLevelOfCareOptions                                       
    set RecordDeleted=''Y'',                                            
    DeletedBy=@DeletedBy,                                            
    DeletedDate=getdate()                                            
      
    where DocumentVersionId=@DocumentVersionId                                                                                      
 END  
 END TRY                                              
                                                                                       
BEGIN CATCH                                                                           
    
DECLARE @Error varchar(8000)                                               
SET @Error= Convert(varchar,ERROR_NUMBER()) + ''*****'' + Convert(varchar(4000),ERROR_MESSAGE())                                                                             
    + ''*****'' + isnull(Convert(varchar,ERROR_PROCEDURE()),''csp_SCDeleteDocumentCustomHRMAssessmentLevelOfCareOptions'')                                                                             
    + ''*****'' + Convert(varchar,ERROR_LINE()) + ''*****'' + Convert(varchar,ERROR_SEVERITY())                                                                              
    + ''*****'' + Convert(varchar,ERROR_STATE())                                                                            
                                                                                          
                                                                        
 RAISERROR                                                                             
 (                                               
  @Error, -- Message text.                                                                            
  16, -- Severity.                                                                            
  1 -- State.                                                                            
 );                                                                            
                                                                            
END CATCH                                                                       
                                 
END
' 
END
GO
