/****** Object:  StoredProcedure [dbo].[csp_conv_Document_CustomTransitionalContinuingCareSummary]    Script Date: 06/19/2013 17:49:43 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_conv_Document_CustomTransitionalContinuingCareSummary]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[csp_conv_Document_CustomTransitionalContinuingCareSummary]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_conv_Document_CustomTransitionalContinuingCareSummary]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
  
CREATE PROCEDURE [dbo].[csp_conv_Document_CustomTransitionalContinuingCareSummary]
AS 
    INSERT  INTO dbo.CustomTransitionalContinuingCareSummary
            ( DocumentVersionId ,
              CreatedBy ,
              CreatedDate ,
              ModifiedBy ,
              ModifiedDate ,
              PatientName ,
              DateOfBirth ,
              StaffName ,
              Address1 ,
              Address2 ,
              City ,
              State ,
              Zip ,
              HomePhone ,
              RelativeFirstName ,
              RelativeLastName ,
              RegistrationDate ,
              LastServiceDate ,
              DischargeDate ,
              Medicaid ,
              NonMedicaid ,
              Private ,
              SPMI ,
              SED ,
              Corporate ,
              PreAuthorizationRequired ,
              PreAuthorizationObtained ,
              DischargeCriteria ,
              PresentingCondition ,
              Individual ,
              PartialHospitalization ,
              CommunityPsychiatricSupporiveTreatment ,
              GroupTherapy ,
              CommunityPsychiatricSupporiveTreatmentGroup ,
              DevelopmentalPadiatrics ,
              PharmacologicManagement ,
              PrimaryCare ,
              Vocational ,
              PsychiatricTesting ,
              Quest ,
              Wellness ,
              EAP ,
              TransitionalService ,
              IndividualCurrently ,
              PartialHospitalizationCurrently ,
              CommunityPsychiatricSupporiveTreatmentCurrently ,
              GroupTherapyCurrently ,
              CommunityPsychiatricSupporiveTreatmentGroupCurrenty ,
              DevelopmentPediatricsCurrently ,
              PharmacologicManagementCurrently ,
              PrimaryCareCurrently ,
              VocationalCurrently ,
              PsychiatricTestingCurrently ,
              QuestCurrently ,
              WellnessCurrently ,
              EAPCurrently ,
              TransitionalServiceCurrently ,
              GoalProgress ,
              AdditionalComments ,
              Medications ,
              MedicationListToClient ,
              NoMedication ,
              Transfer ,
              TransferStaffLastName ,
              TransferStaffFistName ,
              TransferStaffID ,
              TransferReason ,
              TransferDiscussed ,
              TransferTerminationOfService ,
              Referral ,
              ReferralStaffLastName ,
              ReferralStaffFirstName ,
              ReferralStaffID ,
              ReferralReason ,
              ReferralIndividual ,
              ReferralParialHospitalizationDayTreatment ,
              ReferralCPST ,
              ReferralGroupTherapy ,
              ReferralCPSTGroup ,
              ReferralVocational ,
              ReferralGuest ,
              ReferralVistitNurse ,
              ReferralExtraWellness ,
              ReferralTransitionalProgram ,
              GroupName ,
              GroupCode ,
              GroupLocationID , --ccml3.
              GroupStartDate ,
              ReferralPsychiatricEvalution ,
              EvaluationDate ,
              EvaluationStaff ,
              EvaluationStaffLastName ,
              EvaluationStaffFirstName ,
              EvaluationStaffID ,
              HospitalName ,
              HospitalizationDate ,
              ReferralPsychiatricTest ,
              TestDate ,
              TestStaff ,
              TestStaffLastName ,
              TestStaffFirstName ,
              TestStaffID ,
              LDADHD ,
              CognitiveDevelopmentDelay ,
              ClerifyDX ,
              DXToClarify ,
              OtherTestReason ,
              OtherTestReasonDescription ,
              ReferralDevelopmentPediatric ,
              DevelopmentPediatricDate ,
              DevelopmentPediatricStaff ,
              DevelopmentPediatricLastName ,
              DevelopmentPediatricFirstName ,
              DevelopmentPediatricStaffID ,
              ReferralPrimaryCare ,
              PrimaryCareDate ,
              PrimaryCareStaff ,
              PrimaryCareStaffLastName ,
              PrimaryCareStaffFirstName ,
              PrimaryCareStaffID ,
              PrimaryCareCoverage ,
              ReferralDiscussed ,
              Discharge ,
              DischargePresentingProblem ,
              DateDischargeDiscussed ,
              ClientHealthStatus ,
              ClientHealthComments ,
              DischargeReason ,
              ClientRights ,
              ClientContacted ,
              ReferredTo ,
              ReferralsTo ,
              TransferDate ,
              ReferralDate ,
              DischgDate ,
              IntraServiceReferralReason ,
              IntraServiceReferralIndividualCounseling ,
              IntraServiceReferralIndividualCPST ,
              IntraServiceReferralSpecialCounseling ,
              IntraServiceReferralSpecialCPST ,
              IntraServiceReferralGroupTherapy ,
              IntraServiceReferralCPSTGroup ,
              IntraServiceReferralVisitingNurse ,
              IntraServiceReferralGroupName ,
              IntraServiceReferralGroupLocationID , --ccml2.
              IntraServiceReferralGreoupStartDate ,
              IntraServiceReferralSpecCounType ,
              IntraServiceReferralType ,
              IntraServiceReferralSpecCountStaff ,
              IntraServiceReferralSpecCpstCountStaff ,
              IntraServiceReferralGroupCPSTName ,
              IntraServiceReferralGRoupCPSTLocationID , -- ccml.
              IntraServiceReferralGroupCPSTStartDate ,
              IntraServiceReferralStaffID ,
              IntraServiceReferral ,
              MedicationAttached ,
              IntraServiceReferralStaffID2 ,
              ReferralStaffID2 ,
              ReferredTo2 ,
              ReferralTo3
            )
            SELECT  dvm.DocumentVersionId ,
                    orig_user_id ,
                    orig_entry_chron ,
                    user_id ,
                    entry_chron ,
                    patient_name ,
                    dob ,
                    staff_name ,
                    addr_1 ,
                    addr_2 ,
                    city ,
                    state ,
                    zip ,
                    home_phone ,
                    rel_fname ,
                    rel_lname ,
                    registration_date ,
                    last_service_date ,
                    discharge_date ,
                    medicaid ,
                    non_medicaid ,
                    private ,
                    spmi ,
                    sed ,
                    corporate ,
                    pre_auth_req ,
                    pre_auth_obt ,
                    discharge_criteria ,
                    presenting_condition ,
                    indiv ,
                    part_hosp ,
                    cpst ,
                    group_therapy ,
                    cpst_group ,
                    dev_ped ,
                    pharm_mgt ,
                    prim_care ,
                    vocational ,
                    psych_test ,
                    quest ,
                    wellness ,
                    eap ,
                    trans_service ,
                    indiv_curr ,
                    part_hosp_curr ,
                    cpst_curr ,
                    group_therapy_curr ,
                    cpst_group_curr ,
                    dev_ped_curr ,
                    pharm_mgt_curr ,
                    prim_care_curr ,
                    vocational_curr ,
                    psych_test_curr ,
                    quest_curr ,
                    wellness_curr ,
                    eap_curr ,
                    trans_service_curr ,
                    goal_progress ,
                    addl_comments ,
                    medications ,
                    med_list_to_client ,
                    no_meds ,
                    transfer ,
                    tr_staff_lname ,
                    tr_staff_fname ,
                    tr_staff_id ,
                    transfer_reason ,
                    transfer_discussed ,
                    transfer_term_service ,
                    referral ,
                    ref_staff_lname ,
                    ref_staff_fname ,
                    ref_staff_id ,
                    ref_reason ,
                    ref_indiv ,
                    ref_part_hosp ,
                    ref_cpst ,
                    ref_group_therapy ,
                    ref_cpst_group ,
                    ref_vocational ,
                    ref_quest ,
                    ref_visit_nurse ,
                    ref_ext_wellness ,
                    ref_trans_program ,
                    group_name ,
                    group_code ,
                    ccml3.LocationID , --ccml3.
                    group_st_date ,
                    ref_psych_eval ,
                    eval_date ,
                    eval_staff ,
                    eval_staff_lname ,
                    eval_staff_fname ,
                    eval_staff_id ,
                    hosp_name ,
                    hosp_date ,
                    ref_psych_test ,
                    test_date ,
                    test_staff ,
                    test_staff_lname ,
                    test_staff_fname ,
                    test_staff_id ,
                    ld_adhd ,
                    cog_dev_delay ,
                    clarify_dx ,
                    dx_to_clarify ,
                    other_test_reason ,
                    other_test_reason_desc ,
                    ref_dev_ped ,
                    dp_date ,
                    dp_staff ,
                    dp_staff_lname ,
                    dp_staff_fname ,
                    dp_staff_id ,
                    ref_prim_care ,
                    pc_date ,
                    pc_staff ,
                    pc_staff_lname ,
                    pc_staff_fname ,
                    pc_staff_id ,
                    pc_coverage ,
                    referral_discussed ,
                    discharge ,
                    dis_presenting_problem ,
                    date_dischg_discussed ,
                    cl_health_status ,
                    cl_health_comments ,
                    dischg_reason ,
                    client_rights ,
                    contacted_client ,
                    referred_to ,
                    referrals_to ,
                    trans_date ,
                    ref_date ,
                    dischg_date ,
                    isr_reason ,
                    isr_indiv ,
                    isr_cpst ,
                    isr_spec_coun ,
                    isr_spec_cpst ,
                    isr_group_therapy ,
                    isr_cpst_group ,
                    isr_visit_nurse ,
                    isr_group_name ,
                    ccml2.LocationID ,--ccml2.
                    isr_group_st_date ,
                    isr_spec_coun_type ,
                    isr_spec_cpst_type ,
                    isr_spec_coun_staff ,
                    isr_spec_cpst_staff ,
                    isr_group_cpst_name ,
                    ccml.LocationID , --ccml
                    isr_group_cpst_st_date ,
                    isr_staff_id ,
                    intra_s_referral ,
                    meds_attached ,
                    isr_staff_id2 ,
                    ref_staff_id2 ,
                    referred_to2 ,
                    referred_to3
            FROM    Psych..cstm_doc_trans_summary d
                    LEFT JOIN Cstm_Conv_Map_DocumentVersions dvm ON dvm.doc_session_no = d.doc_session_no
                                                              AND dvm.version_no = d.version_no
                    LEFT JOIN dbo.Cstm_Conv_Map_Locations CCML ON d.isr_group_cpst_location = CCML.location_code
                    LEFT JOIN dbo.Cstm_Conv_Map_Locations CCML2 ON d.isr_group_location = CCML2.location_code
                    LEFT JOIN dbo.Cstm_Conv_Map_Locations CCML3 ON d.group_location = CCML3.location_code
            WHERE   NOT EXISTS ( SELECT *
                                 FROM   CustomActivityNotes c
                                 WHERE  c.DocumentVersionId = ISNULL(dvm.DocumentVersionId,
                                                              -1) )
                    AND NOT EXISTS ( SELECT *
                                     FROM   Cstm_Conv_Map_Exclude_Documents ed
                                     WHERE  ed.doc_session_no = d.doc_session_no )

       
    IF @@error <> 0 
        GOTO error

    RETURN

    error:

    RAISERROR 5010 ''Failed to execute csp_conv_Document_CustomTransitionalContinuingCareSummary''

' 
END
GO
