/****** Object:  StoredProcedure [dbo].[csp_conv_Document_CustomClinicalProgressNotes]    Script Date: 06/19/2013 17:49:43 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_conv_Document_CustomClinicalProgressNotes]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[csp_conv_Document_CustomClinicalProgressNotes]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_conv_Document_CustomClinicalProgressNotes]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'       
create procedure [dbo].[csp_conv_Document_CustomClinicalProgressNotes]  
AS     
    INSERT  INTO dbo.CustomDocumentClinicalProgressNotes    
            ( DocumentVersionId ,    
              CreatedBy ,    
              CreatedDate ,    
              ModifiedBy ,    
              ModifiedDate ,    
              PatientName ,    
              DateOfService ,    
              StaffName ,    
              Degree ,    
              BeginTime ,    
              Duration ,    
              DurationType ,    
              ProcedureCode ,    
              MannerOfContact ,    
              MentalHealth ,    
              Vacation ,    
              Housing ,    
              CrisisPrevention ,    
              Financial ,    
              SocialSupport ,    
              Leisure ,    
              Guarded ,    
              UnderInfluence ,    
              Cooperative ,    
              Hallucinations ,    
              Withdrawn ,    
              Provocative ,    
              Pleasant ,    
              Delusions ,    
              NonCompliant ,    
              Manipulative ,    
              Hyperactive ,    
              NotObservedBehavior ,    
              Hostile ,    
              Suspicious ,    
              Hypoactive ,    
              OtherBehavior ,    
              OtherBehaviorDescription ,    
              Appropriate ,    
              Euphoric ,    
              Angry ,    
              Depressed ,    
              Incongruent ,    
              Flat ,    
              Suicidal ,    
              Fearful ,    
              NotObservedMood ,    
              Anxious ,    
              Irritable ,    
              OtherMood ,    
              OtherMoodDescription ,    
              ISPReviewed ,    
              OutcomesUsed ,    
              Intervention ,    
              ClientResponse ,    
              ProgressRating ,    
              VitalBP ,    
              VitalP ,    
              VitalR ,    
              VitalHt ,    
              VitalWt ,    
              ClassroomNumber ,    
              DACClassroomNumber ,    
              QuaterOfYear ,    
              WeekNumber ,    
              Score ,    
              SessionNumber ,    
              Crisis ,    
              MentalStatusSummary ,    
              PastAttemptSelf ,    
              PastAttemptOthers ,    
              Past_Attempt_None ,    
              PastAttemptComments ,    
              CurrentRiskSelf ,    
              Current_Risk_None ,    
              CurrentRiskSelfComments ,    
              CurrentRiskOthers ,    
              CurrentRiskOthersComments ,    
              Medications ,    
              MedicationsNone ,    
              OtherMentalHealthTreatmentHistory ,    
              PrimarySupport ,    
              DailyLiving ,    
              InterventionsProvided ,    
              TreatmentRecommendations ,    
              WishesParent ,    
              Stabilization ,    
              AppropriateCare ,    
              AssureSafety ,    
              OtherGoal ,    
              OtherGoalDescription ,    
              AdultProtectiveServices ,    
              ChildrenServices ,    
              CommunityCupport ,    
              DropInCenter ,    
              DiagnosticAccessment ,    
              EmergencyFollowUp ,    
              MentalHealthCounseling ,    
              PsychiatricEvaluation ,    
              SubstanceAbuseCounseling ,    
              ShelterHousing ,    
              Other1 ,    
              Other1Description ,    
              Other2 ,    
              Other2Description ,    
              Other3 ,    
              Other3Description ,    
              Other4 ,    
              Other4Description ,    
              AdmitHospital ,    
              HospitalName ,    
              OtherHospital ,    
              AdmitType ,    
              AdmitHospitalComment ,    
              AdmitCrisis ,    
              AdmitCrisisName ,    
              AdmitCrisisComment ,    
  MedicalEvaluation ,    
              MedicalEvaluationComment ,    
              CommunityBehavioralHealthServices ,    
              CommunityBehavioralHealthServicesComment ,    
              ContractSafety ,    
              ContractSafetyComment ,    
              SelfHelpGroup ,    
              SelfHelpGroupComment ,    
              AbstainAlcohol ,    
              AbstainAlcoholComment ,    
              DutyToWarn ,    
              DutyToWarnComment ,    
              OtherInstructions ,    
              OtherInstructionsComment ,    
              ReferMSE ,    
              CurrentRiskOthersNone ,    
              Residential ,    
              AdmitCrisisOther ,    
              PartialHospitalizationClientWithdrawn ,    
              PartialHospitalizationStartTime1 ,    
              PartialHospitalizationStartTimeAMPM1 ,    
              PartialHospitalizationEndTime1 ,    
              PartialHospitalizationEndTimeAMPM1 ,    
              OtherService1 ,    
              OtherServiceStartTime1 ,    
              OtherServiceStartTimeAMPM1 ,    
              OtherServiceEndTime1 ,    
              OtherServiceEndTimeAMPM1 ,    
              PartialHospitalizationStartTime2 ,    
              PartialHospitalizationStartTimeAMPM2 ,    
              PartialHospitalizationEndTime2 ,    
              PartialHospitalizationEndTimeAMPM2 ,    
              OtherService2 ,    
              OtherServiceStartTime2 ,    
              OtherServiceStartTimeAMPM2 ,    
              OtherServiceEndTime2 ,    
              OtherServiceEndTimeAMPM2 ,    
              PartialHospitalizationStartTime3 ,    
              PartialHospitalizationStartTimeAMPM3 ,    
              PartialHospitalizationEndTime3 ,    
              PartialHospitalizationEntTimeAMPM3 ,    
              OtherService3 ,    
              OtherServiceStartTime3 ,    
              OtherServiceStartTimeAMPM3 ,    
              OtherServiceEndTime3 ,    
              OtherServiceEndTimeAMPM3 ,    
              ParticipantsNumber ,    
              SignificantEvents ,    
              SignificantEventsNone ,    
              SignificantEventsItem ,    
              SignificantEventsImpact ,    
              Wellness    
            )    
            SELECT  dvm.DocumentVersionId ,    
                    orig_user_id ,    
                    orig_entry_chron ,    
                    user_id ,    
                    entry_chron ,    
                    patient_name ,    
                    date_of_service ,    
                    staff_name ,    
                    degree ,    
                    begin_time ,    
                    duration ,    
                    duration_type ,    
                    proc_code ,    
                    manner_of_contact ,    
                    mental_health ,    
                    vocation ,    
                    housing ,    
                    crisis_prevention ,    
                    financial ,    
                    social_support ,    
                    leisure ,    
                    guarded ,    
                    under_influence ,    
                    cooperative ,    
                    hallucinations ,    
                    withdrawn ,    
                    provocative ,    
                    pleasant ,    
                    delusions ,    
                    non_compliant ,    
                    manipulative ,    
                    hyperactive ,    
                    not_observed_behavior ,    
                    hostile ,    
                    suspicious ,    
                    hypoactive ,    
                    other_behavior ,    
                    other_behavior_desc ,    
                    appropriate ,    
                    euphoric ,    
                    angry ,    
                    depressed ,    
                    incongruent ,    
                    flat ,    
                    suicidal ,    
                    fearful ,    
                    not_observed_mood ,    
     anxious ,    
                    irritable ,    
                    other_mood ,    
                    other_mood_desc ,    
                    isp_reviewed ,    
                    outcomes_used ,    
                    intervention ,    
                    client_response ,    
                    progress_rating ,    
                    vital_bp ,    
                    vital_p ,    
                    vital_r ,    
                    vital_ht ,    
                    vital_wt ,    
                    classroom_no ,    
                    dac_classroom_no ,    
                    quarter_of_yr ,    
                    week_no ,    
                    score ,    
                    session_no ,    
                    crisis ,    
                    mental_status_summary ,    
                    past_attempt_self ,    
                    past_attempt_others ,    
                    past_attempt_none ,    
                    past_attempt_comments ,    
                    current_risk_self ,    
                    current_risk_none ,    
                    current_risk_self_comments ,    
                    current_risk_others ,    
                    current_risk_others_comments ,    
                    medications ,    
                    medications_none ,    
                    other_mh_tx_history ,    
                    primary_support ,    
                    daily_living ,    
                    interventions_provided ,    
                    treatment_recommendations ,    
                    wishes_parent ,    
                    stabilization ,    
                    approp_care ,    
                    assure_safety ,    
                    other_goal ,    
                    other_goal_desc ,    
                    adult_prot_services ,    
                    child_services ,    
                    comm_support ,    
                    drop_in_center ,    
                    diag_assess ,    
                    emer_follow_up ,    
                    mh_counseling ,    
                    psych_eval ,    
                    sa_counseling ,    
                    shelter_housing ,    
                    other_1 ,    
                    other_1_desc ,    
                    other_2 ,    
                    other_2_desc ,    
                    other_3 ,    
                    other_3_desc ,    
                    other_4 ,    
                    other_4_desc ,    
                    admit_hospital ,    
                    name_hospital ,    
                    other_hospital ,    
                    admit_type ,    
                    admit_hospital_comm ,    
                    admit_crisis ,    
                    admit_crisis_name ,    
                    admit_crisis_comm ,    
                    med_eval ,    
                    med_eval_comm ,    
                    comm_bh_services ,    
                    comm_bh_services_comm ,    
                    contract_safety ,    
                    contract_safety_comm ,    
                    self_help_group ,    
                    self_help_group_comm ,    
                    abstain_alcohol ,    
                    abstain_alcohol_comm ,    
                    duty_to_warn ,    
                    duty_to_warn_comm ,    
                    other_instructions ,    
                    other_instructions_comm ,    
                    refer_mse ,    
                    current_risk_others_none ,    
                    residential ,    
                    admit_crisis_other ,    
                    ph_client_withdrawn ,    
                    ph_st_time1 ,    
                    ph_st_ampm1 ,    
                    ph_end_time1 ,    
                    ph_end_ampm1 ,    
                    other_service1 ,    
                    oth_st_time1 ,    
                    oth_st_ampm1 ,    
                    oth_end_time1 ,    
                    oth_end_ampm1 ,    
                    ph_st_time2 ,    
                    ph_st_ampm2 ,    
                    ph_end_time2 ,    
                    ph_end_ampm2 ,    
                    other_service2 ,    
                    oth_st_time2 ,    
                    oth_st_ampm2 ,    
                    oth_end_time2 ,    
                    oth_end_ampm2 ,    
                    ph_st_time3 ,    
                    ph_st_ampm3 ,    
                    ph_end_time3 ,    
                    ph_end_ampm3 ,    
                    other_service3 ,    
                    oth_st_time3 ,    
                    oth_st_ampm3 ,    
                    oth_end_time3 ,    
                    oth_end_ampm3 ,    
                    num_participants ,    
                    sig_events ,    
             sign_events_none ,    
                    sig_events_item ,    
                    sig_events_impact ,    
                    wellness    
            FROM    Psych..cstm_doc_prog_note d    
                    JOIN Cstm_Conv_Map_DocumentVersions dvm ON dvm.doc_session_no = d.doc_session_no    
                                                              AND dvm.version_no = d.version_no    
            WHERE   NOT EXISTS ( SELECT *    
                                 FROM   CustomDocumentClinicalProgressNotes c    
                                 WHERE  c.DocumentVersionId = ISNULL(dvm.DocumentVersionId,    
                                                              -1) )    
                    AND NOT EXISTS ( SELECT *    
                                     FROM   Cstm_Conv_Map_Exclude_Documents ed    
                                     WHERE  ed.doc_session_no = d.doc_session_no )       
    
           
    IF @@error <> 0     
        GOTO error    
    
    RETURN    
    
    error:    
    
    RAISERROR 50010 ''Failed to execute csp_conv_Document_CustomClinicalProgressNotes''    
    
' 
END
GO
