/****** Object:  StoredProcedure [dbo].[csp_RDLSubreportHarborServiceNoteGoals]    Script Date: 06/19/2013 17:49:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_RDLSubreportHarborServiceNoteGoals]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[csp_RDLSubreportHarborServiceNoteGoals]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_RDLSubreportHarborServiceNoteGoals]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[csp_RDLSubreportHarborServiceNoteGoals] --1688336
	@DocumentVersionId int
/******************************************************************************
**  File: csp_RDLSubreportHarborServiceNoteGoals
**  Name: csp_RDLSubreportHarborServiceNoteGoals
**  Desc: For Validation  on CustomDocumentMentalStatuses document(For Prototype purpose, Need modification)
**  Return values: Resultset having validation messages
**  Called by:
**  Parameters:
*******************************************************************************
**  Change History
*******************************************************************************
**  Date:       Author:       Description:
**  --------    --------        ----------------------------------------------------
** 2012.02.08	TER				Revised based on Harbor''s rules
*******************************************************************************/
as

-- all of this is to prevent print duplicates that can be generated by the application
select *
from (
	select row_number() over(partition by ctg.GoalNumber, tpo.ObjectiveNumber order by ctg.GoalNumber, tpo.ObjectiveNumber) as RowNumber,
	ctg.GoalNumber, ctg.GoalText, tpo.ObjectiveNumber, tpo.ObjectiveText
	from DocumentVersions as dv 
	join Documents as d on d.DocumentId = dv.DocumentId
	join Services as s on s.ServiceId = d.ServiceId
	join ServiceGoals as sg on sg.ServiceId = s.ServiceId
	join CustomTPGoals as ctg on ctg.TPGoalId = sg.Needid
	left outer join ServiceObjectives as so on so.ServiceId = s.ServiceId and isnull(so.RecordDeleted, ''N'') <> ''Y''
	left outer join CustomTPObjectives as tpo on tpo.TPObjectiveId = so.ObjectiveId and tpo.TpGoalId = ctg.TPGoalId and isnull(tpo.RecordDeleted, ''N'') <> ''Y''
	where dv.DocumentVersionId = @DocumentVersionId
	and isnull(d.RecordDeleted, ''N'') <> ''Y''
	and isnull(s.RecordDeleted, ''N'') <> ''Y''
	and isnull(sg.RecordDeleted, ''N'') <> ''Y''
	and isnull(ctg.RecordDeleted, ''N'') <> ''Y''
) as a
where a.RowNumber = 1
order by a.GoalNumber, a.ObjectiveNumber

' 
END
GO
