/****** Object:  StoredProcedure [dbo].[csp_conv_Document_CustomPrimaryCareCollaborationSummary]    Script Date: 06/19/2013 17:49:43 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_conv_Document_CustomPrimaryCareCollaborationSummary]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[csp_conv_Document_CustomPrimaryCareCollaborationSummary]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_conv_Document_CustomPrimaryCareCollaborationSummary]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
  
CREATE PROCEDURE [dbo].[csp_conv_Document_CustomPrimaryCareCollaborationSummary]
AS 
    INSERT  INTO dbo.CustomPrimaryCareCollaborationSummary
            ( DocumentVersionId ,
              CreatedBy ,
              CreatedDate ,
              ModifiedBy ,
              ModifiedDate ,
              PatientName ,
              DateOfBirth ,
              StaffName ,
              DateOfService ,
              ProcedureCode ,
              Degree ,
              BeginTime ,
              Duration ,
              DurationType ,
              ProblemListReviewed ,
              AxisIII_ICD9Code ,
              AxisIII_ICD9Code2 ,
              AxisIII_ICD9Code3 ,
              AxisIII_ICD9Code4 ,
              AxisIII_ICD9Code5 ,
              AxisIII_ICD9Code6 ,
              AxisIII_ICD9Code7 ,
              AxisIII_ICD9Code8 ,
              AxisIII_ICD9Code9 ,
              AxisIII_ICD9Code10 ,
              AxisIII_ICD9Desc ,
              AxisIII_ICD9Desc2 ,
              AxisIII_ICD9Desc3 ,
              AxisIII_ICD9Desc4 ,
              AxisIII_ICD9Desc5 ,
              AxisIII_ICD9Desc6 ,
              AxisIII_ICD9Desc7 ,
              AxisIII_ICD9Desc8 ,
              AxisIII_ICD9Desc9 ,
              AxisIII_ICD9Desc10 ,
              Allergies ,
              MedicalSheetReviewed ,
              Medication1Check ,
              Medication1 ,
              Medication1Days ,
              Medication1Refills ,
              Medication2Check ,
              Medication2 ,
              Medication2Days ,
              Medication2Refills ,
              Medication3Check ,
              Medication3 ,
              Medication3Days ,
              Medication3Refills ,
              Medication4Check ,
              Medication4 ,
              Medication4Days ,
              Medication4Refills ,
              Medication5Check ,
              Medication5 ,
              Medication5Days ,
              Medication5Refills ,
              Medication6Check ,
              Medication6 ,
              Medication6Days ,
              Medication6Refills ,
              Medication7Check ,
              Medication7 ,
              Medication7Days ,
              Medication7Refills ,
              Medication8Check ,
              Medication8 ,
              Medication8Days ,
              Medication8Refills ,
              Medication9Check ,
              Medication9 ,
              Medication9Days ,
              Medication9Refills ,
              Medication10Check ,
              Medication10 ,
              Medication10Days ,
              Medication10REfills ,
              Medication11Check ,
              Medication11 ,
              Medication11Days ,
              Medication11Refills ,
              Medication12Check ,
              Medication12 ,
              Medication12Days ,
              MedicationRefills12 ,
              Medication13Check ,
              Medication13 ,
              Medication13Days ,
              Medication13Refills13 ,
              Medication14Check ,
              Medication14 ,
              Medication14Days ,
              Medication14Refills ,
              Releases ,
              RecordRelease ,
              WorkRelease ,
              SchoolRelease ,
              SchoolReleaseThru ,
              Teaching ,
              Diet ,
              Exercise ,
              Smoking ,
              ProcedureDone ,
              OldRecordsReviewed ,
              LabTest ,
              LabTestOrder ,
              LabTestReview ,
              RadTest ,
              RadTestOrder ,
              RadTestReview ,
              MedTest ,
              MedTestOrder ,
              MedTestReview ,
              IndependentReading ,
              DiscussTest ,
              OldRecords ,
              ReviewOldRecords ,
              ConsultReferCollaborate1 ,
              ConsultReferCollaborateDx1 ,
              ConsultReferDx1 ,
              PersonConsult1 ,
              ConsultReferCollaborate2 ,
              ConsultReferCollaborateDx2 ,
              ConsultReferDx2 ,
              PersonConsult2 ,
              Followup ,
              FollowupDays ,
              WeeklyFollowUp ,
              MontlyFollowUp ,
              PrnFollowUp ,
              Counseling ,
              CounselingMin ,
              CounselingTotalMin ,
              CounselingRe1 ,
              CounselingRe1Description ,
              CounselingRe2 ,
              CounselingRe2Description ,
              CounselingRe3 ,
              CounselingReDescription3 ,
              PlanDescription ,
              HighLowQuadrant ,
              HighHighQuadrant ,
              LowLowQuadrant ,
              LowHighQuadrant ,
              QuadrantDescription ,
              VisitSpecificDescription1 ,
              VisitSpecificDescription2 ,
              VisitSpecificDescription3 ,
              VisitSpecificDescription4 ,
              VisitSpecificDescription5 ,
              VisitSpecificDescription6 ,
              AxisVisitSP1 ,
              AxisVisitSP2 ,
              AxisVisitSP3 ,
              AxisVisitSP4 ,
              AxisVisitSP5 ,
              AxisVisitSP6 ,
              AxisVisitSP7 ,
              AxisVisitSP8 ,
              AxisVisitSP9 ,
              AxisVisitSP10 ,
              AbnormalMovements ,
              NoAbnormalMovements ,
              Weight ,
              BMI ,
              WC ,
              BP1 ,
              BP2 ,
              BP3 ,
              FastingLipid ,
              FastingPlasma
            )
            SELECT  dvm.DocumentVersionId ,
                    orig_user_id ,
                    orig_entry_chron ,
                    user_id ,
                    d.entry_chron ,
                    entry_chron patient_name ,
                    dob ,
                    staff_name ,
                    date_of_service ,
                    proc_code ,
                    degree ,
                    begin_time ,
                    duration ,
                    duration_type ,
                    problem_list_rev ,
                    axis_iii_icd9_code ,
                    axis_iii_icd9_code_2 ,
                    axis_iii_icd9_code_3 ,
                    axis_iii_icd9_code_4 ,
                    axis_iii_icd9_code_5 ,
                    axis_iii_icd9_code_6 ,
                    axis_iii_icd9_code_7 ,
                    axis_iii_icd9_code_8 ,
                    axis_iii_icd9_code_9 ,
                    axis_iii_icd9_code_10 ,
                    axis_iii_icd9_desc ,
                    axis_iii_icd9_desc_2 ,
                    axis_iii_icd9_desc_3 ,
                    axis_iii_icd9_desc_4 ,
                    axis_iii_icd9_desc_5 ,
                    axis_iii_icd9_desc_6 ,
                    axis_iii_icd9_desc_7 ,
                    axis_iii_icd9_desc_8 ,
                    axis_iii_icd9_desc_9 ,
                    axis_iii_icd9_desc_10 ,
                    allergies ,
                    med_sheet_rev ,
                    med_check_1 ,
                    medication_1 ,
                    med_days_1 ,
                    med_refills_1 ,
                    med_check_2 ,
                    medication_2 ,
                    med_days_2 ,
                    med_refills_2 ,
                    med_check_3 ,
                    medication_3 ,
                    med_days_3 ,
                    med_refills_3 ,
                    med_check_4 ,
                    medication_4 ,
                    med_days_4 ,
                    med_refills_4 ,
                    med_check_5 ,
                    medication_5 ,
                    med_days_5 ,
                    med_refills_5 ,
                    med_check_6 ,
                    medication_6 ,
                    med_days_6 ,
                    med_refills_6 ,
                    med_check_7 ,
                    medication_7 ,
                    med_days_7 ,
                    med_refills_7 ,
                    med_check_8 ,
                    medication_8 ,
                    med_days_8 ,
                    med_refills_8 ,
                    med_check_9 ,
                    medication_9 ,
                    med_days_9 ,
                    med_refills_9 ,
                    med_check_10 ,
                    medication_10 ,
                    med_days_10 ,
                    med_refills_10 ,
                    med_check_11 ,
                    medication_11 ,
                    med_days_11 ,
                    med_refills_11 ,
                    med_check_12 ,
                    medication_12 ,
                    med_days_12 ,
                    med_refills_12 ,
                    med_check_13 ,
                    medication_13 ,
                    med_days_13 ,
                    med_refills_13 ,
                    med_check_14 ,
                    medication_14 ,
                    med_days_14 ,
                    med_refills_14 ,
                    releases ,
                    rec_release ,
                    work_release ,
                    school_release ,
                    school_release_thru ,
                    teaching ,
                    diet ,
                    exercise ,
                    smoking ,
                    procedure_done ,
                    old_rec_rev ,
                    lab_test ,
                    lab_test_order ,
                    lab_test_review ,
                    rad_test ,
                    rad_test_order ,
                    rad_test_review ,
                    med_test ,
                    med_test_order ,
                    med_test_review ,
                    indep_reading ,
                    discuss_test ,
                    old_records ,
                    review_old_records ,
                    cons_ref_coll_1 ,
                    cons_ref_coll_dx_1 ,
                    cons_re_dx_1 ,
                    person_cons_1 ,
                    cons_ref_coll_2 ,
                    cons_ref_coll_dx_2 ,
                    cons_re_dx_2 ,
                    person_cons_2 ,
                    follow_up ,
                    follow_up_days ,
                    follow_up_wk ,
                    follow_up_mo ,
                    follow_up_prn ,
                    counseling ,
                    couns_num ,
                    couns_denom ,
                    couns_re_1 ,
                    couns_re_1_desc ,
                    couns_re_2 ,
                    couns_re_2_desc ,
                    couns_re_3 ,
                    couns_re_3_desc ,
                    plan_desc ,
                    hl_quadrant ,
                    hh_quadrant ,
                    ll_quadrant ,
                    lh_quadrant ,
                    quadrant_desc ,
                    diag_vs_text_1 ,
                    diag_vs_text_2 ,
                    diag_vs_text_3 ,
                    diag_vs_text_4 ,
                    diag_vs_text_5 ,
                    diag_vs_text_6 ,
                    axis_visit_sp_1 ,
                    axis_visit_sp_2 ,
                    axis_visit_sp_3 ,
                    axis_visit_sp_4 ,
                    axis_visit_sp_5 ,
                    axis_visit_sp_6 ,
                    axis_visit_sp_7 ,
                    axis_visit_sp_8 ,
                    axis_visit_sp_9 ,
                    axis_visit_sp_10 ,
                    abnormal_movements ,
                    no_abnormal_movements ,
                    weight ,
                    bmi ,
                    wc ,
                    bp_1 ,
                    bp_2 ,
                    bp_3 ,
                    fasting_lipid ,
                    fasting_plasma
            FROM    Psych..cstm_doc_pc_followup d
                    LEFT JOIN Cstm_Conv_Map_DocumentVersions dvm ON dvm.doc_session_no = d.doc_session_no
                                                              AND dvm.version_no = d.version_no
            WHERE   NOT EXISTS ( SELECT *
                                 FROM   CustomActivityNotes c
                                 WHERE  c.DocumentVersionId = ISNULL(dvm.DocumentVersionId,
                                                              -1) )      

       
    IF @@error <> 0 
        GOTO error

    RETURN

    error:

    RAISERROR 5010 ''Failed to execute csp_conv_Document_CustomPrimaryCareCollaborationSummary''



' 
END
GO
