/****** Object:  StoredProcedure [dbo].[csp_SCDeleteBedCensusMainListPageData]    Script Date: 06/19/2013 17:49:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_SCDeleteBedCensusMainListPageData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[csp_SCDeleteBedCensusMainListPageData]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_SCDeleteBedCensusMainListPageData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[csp_SCDeleteBedCensusMainListPageData]                       
(                                                                                                                   
 @SessionId varchar(100)                                                                                                                                   
)                                                                                                                                
as                                                                                                                                
/************************************************************************/                                                                                                                                        
/* Copyright: 2005 Streamline Healthcare Solutions,  LLC    */                                                                                                                                        
/* Creation Date:    25/08/2010           */                                                                                                                                       
/*                  */                                                                                                                                        
/* Purpose:  To delete from ListPageBedCensus on basis of SessionId  */                                                                                                                                        
/*                  */                                                                                                                                      
/* Input Parameters: none        @SessionId        */                                                                                                                                      
/*                  */                                                                                                                                        
/* Output Parameters:   None           */                                                                                                                                        
/*                  */                                                                                                                                        
/* Return:  0=success, otherwise an error number      */                                                                                                                                        
/*                  */                                                                                                                                        
/* Called By:               */                                                                                                                                        
/*                  */                                                                                                                                        
/* Calls:                */                                                                                                                                        
/*                  */                                                                                                                                        
/* Data Modifications:             */                           
/*                  */                       
/* Updates:                */                                     
/*   Date     Author   Purpose           */      
/* 25/08/2010 Sumanta  Created           */    
/************************************************************************/                                           
                  
                  
  BEGIN                
  --Delete from ListPageBedCensus where SessionId=@SessionId                
                                                     
  IF (@@error!=0)                                                                                                                       
    BEGIN                                                                
        RAISERROR  20002 ''ListPageBedCensus : An error  occured''                                                                                                                                        
        RETURN(1)                                                                                           
    END                     
  END ' 
END
GO
