/****** Object:  StoredProcedure [dbo].[csp_conv_Document_CustomEpisodeTermination]    Script Date: 06/19/2013 17:49:43 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_conv_Document_CustomEpisodeTermination]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[csp_conv_Document_CustomEpisodeTermination]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[csp_conv_Document_CustomEpisodeTermination]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
  
CREATE PROCEDURE [dbo].[csp_conv_Document_CustomEpisodeTermination]
AS 
    INSERT  INTO dbo.CustomEpisodeTermination
            ( DocumentVersionId ,
              CreatedBy ,
              CreatedDate ,
              ModifiedBy ,
              ModifiedDate ,
              PatientName ,
              StaffName ,
              StaffID ,
              AdmitDate ,
              LastServiceDate ,
              DischargeDate ,
              ClientResponse ,
              ClientRecommendations ,
              MedicationListGiven ,
              InvoluntaryTermAppeal ,
              DischargeReason ,
              OtherReason ,
              Self ,
              Family ,
              Friend ,
              SASI ,
              Compass ,
              OtherAlcohol ,
              CourtDiagnostic ,
              MCO ,
              OtherOsychHospital ,
              GeneralHospital ,
              PrivatePsychiatrist ,
              PrivateTherapist ,
              OutOfCountry ,
              Zepf ,
              OutOfState ,
              NBHS ,
              OtherMentalHealthProvider ,
              Harbor ,
              Unison ,
              StPauls ,
              Rescue ,
              ConnectingPoint ,
              OtherDualProvider ,
              GeneralHospitalNone ,
              NursingHome ,
              OtherPhysician ,
              CordeliaMartin ,
              HealthAgency ,
              AbilityCenter ,
              OtherHealthCare ,
              TPS ,
              PrivateSchool ,
              OregonSchool ,
              MauMeeSchool ,
              SylvaniaSchool ,
              WashingtonSchool ,
              OttawaHillsSchool ,
              SpringfieldSchool ,
              AnthoyWayneSchool ,
              OtherSchool ,
              HeadStart ,
              EAP ,
              HarborEAP ,
              HumanServices ,
              SocialServices ,
              MRBoard ,
              Volunteers ,
              Vocational ,
              Attorney ,
              Clergy ,
              LCCS ,
              OtherChild ,
              VeteransAgency ,
              ConsumersUnion ,
              Hospice ,
              Able ,
              OtherCommunity ,
              CitizensDispute ,
              StateCourt ,
              MunicipalCourt ,
              CommonPleasCourt ,
              JuvenileCourt ,
              OtherDiversionary ,
              ODYS ,
              Probation ,
              Prison ,
              OtherCriminal ,
              ForensicPrison
            )
            SELECT  dvm.DocumentVersionId ,
                    d.orig_user_id ,
                    d.orig_entry_chron ,
                    d.user_id ,
                    d.entry_chron ,
                    entry_chron patient_name ,
                    staff_name ,
                    staff_id ,
                    admit_date ,
                    last_service_date ,
                    discharge_date ,
                    client_response ,
                    client_recommendations ,
                    med_list_given ,
                    involuntary_term_appeal ,
                    discharge_reason ,
                    other_reason ,
                    self ,
                    family ,
                    friend ,
                    sasi ,
                    compass ,
                    other_alcohol ,
                    court_diag ,
                    mco ,
                    other_psych ,
                    gen_hospital ,
                    private_psych ,
                    private_therapist ,
                    out_of_county ,
                    zepf ,
                    out_of_state ,
                    nbhs ,
                    other_mh_prov ,
                    harbor ,
                    unison ,
                    st_paul ,
                    rescue ,
                    conn_point ,
                    other_dual_prov ,
                    gen_hospital_non ,
                    nursing_home ,
                    other_phys ,
                    cordelia_martin ,
                    health_agency ,
                    ability_center ,
                    other_health_care ,
                    tps ,
                    private_school ,
                    oregon_school ,
                    maumee_school ,
                    sylvania_school ,
                    washington_school ,
                    ottawa_hills_school ,
                    springfield_school ,
                    aw_school ,
                    other_school ,
                    head_start ,
                    eap ,
                    harbor_eap ,
                    human_services ,
                    social_services ,
                    mr_board ,
                    volunteers ,
                    vocational ,
                    attorney ,
                    clergy ,
                    lccs ,
                    other_child ,
                    veterans_agency ,
                    consumers_union ,
                    hospice ,
                    able ,
                    other_community ,
                    citizens_dispute ,
                    state_court ,
                    muni_court ,
                    common_pleas ,
                    juvenile_court ,
                    other_diversionary ,
                    odys ,
                    probation ,
                    prison ,
                    other_criminal ,
                    forensic_prison
            FROM    Psych..cstm_doc_episode_term d
                    LEFT JOIN Cstm_Conv_Map_DocumentVersions dvm ON dvm.doc_session_no = d.doc_session_no
                                                              AND dvm.version_no = d.version_no
            WHERE   NOT EXISTS ( SELECT *
                                 FROM   CustomActivityNotes c
                                 WHERE  c.DocumentVersionId = ISNULL(dvm.DocumentVersionId,
                                                              -1) )
                    AND NOT EXISTS ( SELECT *
                                     FROM   Cstm_Conv_Map_Exclude_Documents ed
                                     WHERE  ed.doc_session_no = d.doc_session_no )     
       
    IF @@error <> 0 
        GOTO error

    RETURN

    error:

    RAISERROR 5010 ''Failed to execute csp_conv_Document_CustomEpisodeTermination''

' 
END
GO
